<section class="benefit">
        <div class="container">
          <div class="benefit__headline">
            <div class="benefit__headline__title title">О пользе продукта</div>
            <div class="benefit__headline__sub-title sub-title">
              Каждый вид ореха содержит свой неповторимый уникальный <br />
              баланс витаминов, и микроэлементов
            </div>
          </div>
          <div class="benefit__inner">

            <div class="benefit__inner__item">
              <img
                src="/src/img/walnut-bg.png"
                alt=" walnut-bg"
                class="benefit__item-bg"
                width="410"
                height="525"
              />
              <div class="benefit__item__slogan">
                <img src="/src/img/icons/walnut.svg" alt="walnut" width="67" height="76">
                
                <div class="benefit__slogan__name">Грецкий орех</div>
              </div>
              <div class="benefit__item__hover">
                <div class="benefit__item__slogan">
                  <img src="/src/img/icons/walnut.svg" alt="walnut" width="67" height="76">
                  <div class="benefit__slogan__name">Грецкий орех</div>
                </div>
                <div class="benefit__item__article">
                  <div class="benefit__hover__text">
                    Дерево жизни - так часто величают грецкий орех, поскольку с
                    давних пор он кормил, восстанавливал силы и лечил человека.
                  </div>
                  <div class="benefit__hover__text2">
                    Даже небольшая горсть грецких орехов - это кладезь витаминов
                    и хорошая профилактика многих заболеваний
                  </div>
                </div>
              </div>
            </div>

            <div class="benefit__inner__item">
              <img src="/src/img/hazelnut-bg.png" alt="hazelnut" class="benefit__item-bg" width="410"
                height="525"/>
              <div class="benefit__item__slogan">
                <img src="/src/img/icons/hazelnut.svg" alt="huzlnut" width="51" height="51">
                <div class="benefit__slogan__name">Фундук</div>
              </div>
              <div class="benefit__item__hover">
                <div class="benefit__item__slogan">
                  <img src="/src/img/icons/hazelnut.svg" alt="huzlnut" width="51" height="51">
                  <div class="benefit__slogan__name">Фундук</div>
                </div>
                <div class="benefit__item__article">
                  <div class="benefit__hover__text">
                    Дерево жизни - так часто величают грецкий орех, поскольку с
                    давних пор он кормил, восстанавливал силы и лечил человека.
                  </div>
                  <div class="benefit__hover__text2">
                    Даже небольшая горсть грецких орехов - это кладезь витаминов
                    и хорошая профилактика многих заболеваний
                  </div>
                </div>
              </div>
            </div>

            <div class="benefit__inner__item">
              <img src="/src/img/rose-hip-bg.png" alt="rose-hip-bg" class="benefit__item-bg" width="410"
                height="525" />

              <div class="benefit__item__slogan">
                <img src="/src/img/icons/rose-hip.svg" alt="rose-hip" height="54" width="59">

                <div class="benefit__slogan__name">Шиповник</div>
              </div>
              <div class="benefit__item__hover">
                <div class="benefit__item__slogan">
                 <img src="/src/img/icons/rose-hip.svg" alt="rose-hip" height="54" width="59">

                  <div class="benefit__slogan__name">Шиповник</div>
                </div>

                <div class="benefit__item__article">
                  <div class="benefit__hover__text">
                    Дерево жизни - так часто величают грецкий орех, поскольку с
                    давних пор он кормил, восстанавливал силы и лечил человека.
                  </div>

                  <div class="benefit__hover__text2">
                    Даже небольшая горсть грецких орехов - это кладезь витаминов
                    и хорошая профилактика многих заболеваний
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>