<section class="main-page-about {{additionalClassAbout}}">
  <div class="main-page-about__block">
    <div class="container">
      <div class="main-page-about__wrapper">

        <div class="main-page-about__wrapper-info">
          <h2 class="main-page-about__title title">О производителе</h2>
          <p class="main-page-about__subtitle"><span
              class="main-page-about__subtitle-first"
            >Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”</span>выращивает
            смешанные сады ореха грецкого с фундуком, а также ореха грецкого с
            шиповником, на площади более 150 гектаров.</p>
          <p
            class="main-page-about__subtitle-second main-page-about__subtitle"
          >Помимо этого кооператив занимается выращиванием посадочного
            материала, саженцов привитого и непривитого грецкого ореха, фундука
            и шиповника.</p>

            <p class="main-page-about__subtitle-third main-page-about__subtitle">Предприятие укомплектовано всей необходимой техникой
            и оборудованием для выращивания интенсивного сада, воспроизводства саженцев в питомнике и выращивания трюфеля.</p>
          <button
            class="main-page-about__btn button__white-bg"
          >Подробнее</button>
        </div>

        <div class="swiper-container swiper-container-about">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide swiper-slide-first open-popup-btn"
              data-popup="popupAbout"
            ><img
                src="/src/img/about-video-first.jpg"
                class="main-page-about__img"
                width="243"
                height="191"
                alt="Image 1"

              />
              <img
                src="/src/img/icons/play-icon.svg"
                alt="play"
                class="main-page-about__play-icon open-popup-btn"
                data-popup="popupAbout"
                width="61"
                height="61"
                loading="lazy"
              />
            </div>

            <div class="swiper-slide open-popup-btn" data-popup="popupAbout"><img
                src="/src/img/about-video-second.jpg"
                class="main-page-about__img"
                width="243"
                height="191"
                alt="Image 1"
                loading="lazy"
              />
              <img
                src="/src/img/icons/play-icon.svg"
                alt="play"
                class="main-page-about__play-icon open-popup-btn"
                data-popup="popupAbout"
                width="61"
                height="61"
              />
            </div>

            <div class="swiper-slide open-popup-btn" data-popup="popupAbout"><img src="/src/img/about-video-first.jpg"
                class="main-page-about__img" width="243" height="191" alt="Image 1" />
              <img src="/src/img/icons/play-icon.svg" alt="play" class="main-page-about__play-icon open-popup-btn"
                data-popup="popupAbout" width="61" height="61" />
            </div>
          </div>

          <div
            class="swiper-button-next main-page-about__swiper-button-next"
          ><img
              src="/src/img/icons/right-arrow.svg"
              alt="arrow"
              width="23"
              height="23"
              class="main-page-about__btn-arrow"
            />
          </div>

          <div
            class="swiper-button-prev main-page-about__swiper-button-prev"
          ><img
              src="/src/img/icons/left-arrow.svg"
              alt="arrow"
              width="23"
              height="23"
              class="main-page-about__btn-arrow"
            />
          </div>
        
        </div>

        <div id="popupAbout" class="popup">
          <div class="popup__content">
            <span class="popup__close-btn">&times;</span>

            <iframe
              src=" https://www.youtube.com/embed/SQXzVeHZ4kQ"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              class="popup__frame"
            ></iframe>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>