<section class="main-page-product">
  <div class="container">
    <div class="main-page-product__wrapper">
      <h2 class="main-page-product__title title">Продукция</h2>
      <p class="main-page-product__subtitle sub-title">Экологически чистые,
        качественные ядра грецкого ореха и фундука, а также плоды шиповника в
        удобной, надежной, вакуумной упаковке разного объема</p>

      <ul class="main-page-product__list">

        <li class="main-page-product__item">
            <img src="/src/img/icons/sale-product.svg" alt="sale" class="main-page-product__item-sale" width="82" height="31">
          <div class="swiper-container swiper-container-product">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img
                  src="/src/img/productMPfirst.jpg"
                  width="108"
                  height="234"
                  alt="Image 1"
                  class="productMPfirst"
                  loading="lazy"
                />
              </div>
              <div class="swiper-slide"><img
                  src="/src/img/productMPfirst.jpg"
                  width="108"
                  height="234"
                  alt="Image 2"
                  class="productMPfirst"
                  loading="lazy"
                />
              </div>
              <div class="swiper-slide"><img
                  src="/src/img/productMPfirst.jpg"
                  width="108"
                  height="234"
                  alt="Image 3"
                  class="productMPfirst"
                  loading="lazy"
                />
              </div>
            </div>

            <div
              class="swiper-button-next main-page-product__swiper-button-next"
            ><img
                src="/src/img/icons/right-arrow.svg"
                alt="arrow"
                width="23"
                height="23"
                class="main-page-product__btn-arrow"
              /></div>

            <div
              class="main-page-product__swiper-button-zoom open-popup-btn"
              data-popup="popupProduct"
            ><img
                src="/src/img/icons/zoom.svg"
                alt="zoom"
                width="55"
                height="55"
                class="main-page-product__swiper-button-zoom-icon"
              /></div>

            <div
              class="swiper-button-prev main-page-product__swiper-button-prev"
            ><img
                src="/src/img/icons/left-arrow.svg"
                alt="arrow"
                width="23"
                height="23"
                class="main-page-product__btn-arrow"
              /></div>

          </div>

         

          <div class="main-page-product__item-info">
            <h3 class="main-page-product__item-info-title">Грецкий орех</h3>
            <p class="main-page-product__item-info-art">Арт: 0091</p>
            <p class="main-page-product__item-info-subtitle">Орех сладкий, классический, очищенный</p>

            <div class="main-page-product__item-info-deliver-wrapper">

                <div class="main-page-product__item-info-kg">
                    <img src="/src/img/icons/food-scale-tool.svg" alt="tool">
                    <div class="main-page-product__item-info-kg-wrapper">
                        <p class="main-page-product__item-info-kg-text">Масса:</p>
                        <p class="main-page-product__item-info-kg-numb">40г</p>
                    </div>
                </div>

                <div class="main-page-product__item-info-kg">
                    <img src="/src/img/icons/bag-card.svg" alt="bag">
                    <div class="main-page-product__item-info-kg-wrapper">
                        <p class="main-page-product__item-info-kg-text">Упаковка</p>
                        <p class="main-page-product__item-info-kg-numb">вакуумная</p>
                    </div>
                </div>
            </div>

            <div class="main-page-product__item-price-wrapper">
                <p class="main-page-product__item-price">Цена: <span class="main-page-product__item-price-sale">19 грн</span><span class="main-page-product__item-price-old"> 21 грн</span></p>
                <a href="/Nuts/cardProductPage/" class="main-page-product__item-btn main--btn">Купить</a>
            </div>
          </div>
        </li>

    <li class="main-page-product__item">
        <img src="/src/img/icons/new-product.svg" alt="sale" class="main-page-product__item-sale" width="82" height="31" loading="lazy">
        <div class="swiper-container swiper-container-product">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/src/img/productMPfirst.jpg" class="productMPfirst" width="108" height="234" alt="Image 1" loading="lazy" />
                </div>
                <div class="swiper-slide"><img src="/src/img/productMPfirst.jpg" class="productMPfirst" width="108" height="234" alt="Image 2" loading="lazy" />
                </div>
                <div class="swiper-slide"><img src="/src/img/productMPfirst.jpg" class="productMPfirst" width="108" height="234" alt="Image 3" loading="lazy" />
                </div>
            </div>
    
            <div class="swiper-button-next main-page-product__swiper-button-next"><img src="/src/img/icons/right-arrow.svg"
                    alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
    
            <div class="main-page-product__swiper-button-zoom open-popup-btn" data-popup="popupProduct"><img
                    src="/src/img/icons/zoom.svg" alt="zoom" width="55" height="55"
                    class="main-page-product__swiper-button-zoom-icon" /></div>
    
            <div class="swiper-button-prev main-page-product__swiper-button-prev"><img src="/src/img/icons/left-arrow.svg"
                    alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
    
        </div>

    
        <div class="main-page-product__item-info">
            <h3 class="main-page-product__item-info-title">Грецкий орех</h3>
            <p class="main-page-product__item-info-art">Арт: 0091</p>
            <p class="main-page-product__item-info-subtitle">Орех сладкий, классический, очищенный</p>
    
            <div class="main-page-product__item-info-deliver-wrapper">
    
                <div class="main-page-product__item-info-kg">
                    <img src="/src/img/icons/food-scale-tool.svg" alt="tool">
                    <div class="main-page-product__item-info-kg-wrapper">
                        <p class="main-page-product__item-info-kg-text">Масса:</p>
                        <p class="main-page-product__item-info-kg-numb">40г</p>
                    </div>
                </div>
    
                <div class="main-page-product__item-info-kg">
                    <img src="/src/img/icons/bag-card.svg" alt="bag">
                    <div class="main-page-product__item-info-kg-wrapper">
                        <p class="main-page-product__item-info-kg-text">Упаковка</p>
                        <p class="main-page-product__item-info-kg-numb">вакуумная</p>
                    </div>
                </div>
            </div>
    
            <div class="main-page-product__item-price-wrapper">
                <p class="main-page-product__item-price">Цена: <span class="main-page-product__item-price-sale">от 21
                        грн</span></p>
            <a href="/Nuts/cardProductPage/" class="main-page-product__item-btn main--btn">Купить</a>
            </div>
        </div>
    </li>

        <li class="main-page-product__item">
            <div class="swiper-container swiper-container-product">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/src/img/productMPfirst.jpg" class="productMPfirst" width="108" height="234" alt="Image 1" loading="lazy"/>
                    </div>
                    <div class="swiper-slide"><img src="/src/img/productMPfirst.jpg" class="productMPfirst" width="108" height="234" alt="Image 2" loading="lazy"/>
                    </div>
                    <div class="swiper-slide"><img src="/src/img/productMPfirst.jpg" class="productMPfirst" width="108" height="234" alt="Image 3" loading="lazy"/>
                    </div>
                </div>
        
                <div class="swiper-button-next main-page-product__swiper-button-next"><img src="/src/img/icons/right-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
        
                <div class="main-page-product__swiper-button-zoom open-popup-btn" data-popup="popupProduct"><img
                        src="/src/img/icons/zoom.svg" alt="zoom" width="55" height="55"
                        class="main-page-product__swiper-button-zoom-icon" /></div>
        
                <div class="swiper-button-prev main-page-product__swiper-button-prev"><img src="/src/img/icons/left-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
        
            </div>
        
          
        
            <div class="main-page-product__item-info">
                <h3 class="main-page-product__item-info-title">Грецкий орех</h3>
                <p class="main-page-product__item-info-art">Арт: 0091</p>
                <p class="main-page-product__item-info-subtitle">Орех сладкий, классический, очищенный</p>
        
                <div class="main-page-product__item-info-deliver-wrapper">
        
                    <div class="main-page-product__item-info-kg">
                        <img src="/src/img/icons/food-scale-tool.svg" alt="tool">
                        <div class="main-page-product__item-info-kg-wrapper">
                            <p class="main-page-product__item-info-kg-text">Масса:</p>
                            <p class="main-page-product__item-info-kg-numb">40г</p>
                        </div>
                    </div>
        
                    <div class="main-page-product__item-info-kg">
                        <img src="/src/img/icons/bag-card.svg" alt="bag">
                        <div class="main-page-product__item-info-kg-wrapper">
                            <p class="main-page-product__item-info-kg-text">Упаковка</p>
                            <p class="main-page-product__item-info-kg-numb">вакуумная</p>
                        </div>
                    </div>
                </div>
        
                <div class="main-page-product__item-price-wrapper">
                    <p class="main-page-product__item-price">Цена: <span class="main-page-product__item-price-sale">от 21
                            грн</span></p>
                    <a href="/cardProductPage/index.html" class="main-page-product__item-btn main--btn">Купить</a>
                </div>
            </div>
        </li>

        <li class="main-page-product__item">
            <div class="swiper-container swiper-container-product">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/src/img/productMPsecond.jpg" class="productMPsecond" width="243" height="191" alt="Image 1" loading="lazy" />
                    </div>
                    <div class="swiper-slide"><img src="/src/img/productMPsecond.jpg" class="productMPsecond" width="243" height="191" alt="Image 2" loading="lazy" />
                    </div>
                    <div class="swiper-slide"><img src="/src/img/productMPsecond.jpg" class="productMPsecond" width="243" height="191" alt="Image 3" loading="lazy" />
                    </div>
                </div>
        
                <div class="swiper-button-next main-page-product__swiper-button-next"><img src="/src/img/icons/right-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
        
                <div class="main-page-product__swiper-button-zoom open-popup-btn" data-popup="popupProduct"><img
                        src="/src/img/icons/zoom.svg" alt="zoom" width="55" height="55"
                        class="main-page-product__swiper-button-zoom-icon" /></div>
        
                <div class="swiper-button-prev main-page-product__swiper-button-prev"><img src="/src/img/icons/left-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
        
            </div>
        
        
            <div class="main-page-product__item-info">
                <h3 class="main-page-product__item-info-title">Грецкий орех</h3>
                <p class="main-page-product__item-info-art">Арт: 0091</p>
                <p class="main-page-product__item-info-subtitle">Орех сладкий, классический, очищенный</p>
        
                <div class="main-page-product__item-info-deliver-wrapper">
        
                    <div class="main-page-product__item-info-kg">
                        <img src="/src/img/icons/food-scale-tool.svg" alt="tool">
                        <div class="main-page-product__item-info-kg-wrapper">
                            <p class="main-page-product__item-info-kg-text">Масса:</p>
                            <p class="main-page-product__item-info-kg-numb">40г</p>
                        </div>
                    </div>
        
                    <div class="main-page-product__item-info-kg">
                        <img src="/src/img/icons/bag-card.svg" alt="bag">
                        <div class="main-page-product__item-info-kg-wrapper">
                            <p class="main-page-product__item-info-kg-text">Упаковка</p>
                            <p class="main-page-product__item-info-kg-numb">вакуумная</p>
                        </div>
                    </div>
                </div>
        
                <div class="main-page-product__item-price-wrapper">
                    <p class="main-page-product__item-price">Цена: <span class="main-page-product__item-price-sale">19
                            грн</span><span class="main-page-product__item-price-old"> 21 грн</span></p>
                    <a href="/cardProductPage/index.html" class="main-page-product__item-btn main--btn">Купить</a>
                </div>
            </div>
        </li>

        <li class="main-page-product__item">
            <div class="swiper-container swiper-container-product">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/src/img/productMPsecond.jpg" class="productMPsecond" width="243" height="191"
                            alt="Image 1" loading="lazy" />
                    </div>
                    <div class="swiper-slide"><img src="/src/img/productMPsecond.jpg" class="productMPsecond" width="243" height="191"
                            alt="Image 1" loading="lazy" />
                    </div>
                    <div class="swiper-slide"><img src="/src/img/productMPsecond.jpg" class="productMPsecond" width="243" height="191"
                            alt="Image 1" loading="lazy" />
                    </div>
                </div>
        
                <div class="swiper-button-next main-page-product__swiper-button-next"><img src="/src/img/icons/right-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
        
                <div class="main-page-product__swiper-button-zoom open-popup-btn" data-popup="popupProduct"><img
                        src="/src/img/icons/zoom.svg" alt="zoom" width="55" height="55"
                        class="main-page-product__swiper-button-zoom-icon" /></div>
        
                <div class="swiper-button-prev main-page-product__swiper-button-prev"><img src="/src/img/icons/left-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
        
            </div>
        
        
            <div class="main-page-product__item-info">
                <h3 class="main-page-product__item-info-title">Грецкий орех</h3>
                <p class="main-page-product__item-info-art">Арт: 0091</p>
                <p class="main-page-product__item-info-subtitle">Орех сладкий, классический, очищенный</p>
        
                <div class="main-page-product__item-info-deliver-wrapper">
        
                    <div class="main-page-product__item-info-kg">
                        <img src="/src/img/icons/food-scale-tool.svg" alt="tool">
                        <div class="main-page-product__item-info-kg-wrapper">
                            <p class="main-page-product__item-info-kg-text">Масса:</p>
                            <p class="main-page-product__item-info-kg-numb">40г</p>
                        </div>
                    </div>
        
                    <div class="main-page-product__item-info-kg">
                        <img src="/src/img/icons/bag-card.svg" alt="bag">
                        <div class="main-page-product__item-info-kg-wrapper">
                            <p class="main-page-product__item-info-kg-text">Упаковка</p>
                            <p class="main-page-product__item-info-kg-numb">вакуумная</p>
                        </div>
                    </div>
                </div>
        
                <div class="main-page-product__item-price-wrapper">
                    <p class="main-page-product__item-price">Цена: <span class="main-page-product__item-price-sale">от 21
                            грн</span></p>
                    <a href="/cardProductPage/index.html" class="main-page-product__item-btn main--btn">Купить</a>
                </div>
            </div>
        </li>

        <li class="main-page-product__item">
            <div class="swiper-container swiper-container-product">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/src/img/productMPsecond.jpg" class="productMPsecond" width="243" height="191"
                            alt="Image 1" loading="lazy" />
                    </div>
                    <div class="swiper-slide"><img src="/src/img/productMPsecond.jpg" class="productMPsecond" width="243" height="191"
                            alt="Image 1" loading="lazy" />
                    </div>
                    <div class="swiper-slide"><img src="/src/img/productMPsecond.jpg" class="productMPsecond" width="243" height="191"
                            alt="Image 1" loading="lazy" />
                    </div>
                </div>
        
                <div class="swiper-button-next main-page-product__swiper-button-next"><img src="/src/img/icons/right-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
        
                <div class="main-page-product__swiper-button-zoom open-popup-btn" data-popup="popupProduct"><img
                        src="/src/img/icons/zoom.svg" alt="zoom" width="55" height="55"
                        class="main-page-product__swiper-button-zoom-icon" /></div>
        
                <div class="swiper-button-prev main-page-product__swiper-button-prev"><img src="/src/img/icons/left-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
        
            </div>
        
        
            <div class="main-page-product__item-info">
                <h3 class="main-page-product__item-info-title">Грецкий орех</h3>
                <p class="main-page-product__item-info-art">Арт: 0091</p>
                <p class="main-page-product__item-info-subtitle">Орех сладкий, классический, очищенный</p>
        
                <div class="main-page-product__item-info-deliver-wrapper">
        
                    <div class="main-page-product__item-info-kg">
                        <img src="/src/img/icons/food-scale-tool.svg" alt="tool">
                        <div class="main-page-product__item-info-kg-wrapper">
                            <p class="main-page-product__item-info-kg-text">Масса:</p>
                            <p class="main-page-product__item-info-kg-numb">40г</p>
                        </div>
                    </div>
        
                    <div class="main-page-product__item-info-kg">
                        <img src="/src/img/icons/bag-card.svg" alt="bag">
                        <div class="main-page-product__item-info-kg-wrapper">
                            <p class="main-page-product__item-info-kg-text">Упаковка</p>
                            <p class="main-page-product__item-info-kg-numb">вакуумная</p>
                        </div>
                    </div>
                </div>
        
                <div class="main-page-product__item-price-wrapper">
                    <p class="main-page-product__item-price">Цена: <span class="main-page-product__item-price-sale">от 21
                            грн</span></p>
                    <a href="/cardProductPage/index.html" class="main-page-product__item-btn main--btn">Купить</a>
                </div>
            </div>
        </li>

      </ul>

    <div id="popupProduct" class="popup">
        <div class="popup__content main-page-product__popup-content">
            <span class="popup__close-btn">&times;</span>
            <div class="swiper-container swiper-container-popup gallery-top main-page-product__gallery-top">
                <div class="swiper-wrapper swiper-wrapper-popup">
                    <div class="swiper-slide swiper-slide-popup"><img src="/src/img/productMPfirst.jpg" alt="nuts" /></div>
                    <div class="swiper-slide swiper-slide-popup"><img src="/src/img/productMPfirst.jpg" alt="nuts" /></div>
                    <div class="swiper-slide swiper-slide-popup"><img src="/src/img/productMPfirst.jpg" alt="nuts" /></div>
    
                </div>
    
            <div class="swiper-button-next swiper-button-popup main-page-product__swiper-button-next"><img src="/src/img/icons/right-arrow.svg"
                    alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
            
            <div class="swiper-button-prev swiper-button-popup main-page-product__swiper-button-prev"><img src="/src/img/icons/left-arrow.svg"
                    alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
            </div>
            <div class="swiper-container swiper-container-popup gallery-thumbs">
                <div class="swiper-wrapper swiper-wrapper-popup">
                    <div class="swiper-slide swiper-slide-popup swiper-slide-popup-thumb"><img src="/src/img/productMPfirst.jpg" alt="nuts" /></div>
                    <div class="swiper-slide swiper-slide-popup swiper-slide-popup-thumb"><img src="/src/img/productMPfirst.jpg" alt="nuts" /></div>
                    <div class="swiper-slide swiper-slide-popup swiper-slide-popup-thumb"><img src="/src/img/productMPfirst.jpg" alt="nuts" /></div>
                </div>
            </div>
    
    
        </div>
    </div>

      <a href="/Nuts/catalogPage/" class="main-page-product__btn button__white-bg">Перейти в магазин</a>
    </div>
  </div>
</section>