<section class="payment-page-baner {{additionalClass}}">
  <div class="payment-page-baner__wrapper">
    <div class="container">
      <div class="payment-page-baner__links">
        <a href="" class="payment-page-baner__link-page">Главная</a>
        <img src="/src/img/icons/right-arrow-white.svg" alt="" />

        <a href="" class="payment-page-baner__link-page">Оплата и доставка </a>
      </div>
    </div>

    <h1 class="payment-page-baner__title">Оплата и доставка</h1>

  </div>

</section>