<section class="pay">
  <div class="container">
    <div class="pay__headline--nav">
      <button class="tab-button active" onclick="changeTab('tab1')">
        <img src="/src/img/icons/wallet.svg" alt="wallet" width="37" height="37" loading="lazy"/>
        Оплата заказа
      </button>
      <button class="tab-button" onclick="changeTab('tab2')">
        <img src="/src/img/icons/delivery.svg" alt="delivery" width="45" height="33" loading="lazy"/>
        Доставка партии
      </button>
      <button class="tab-button" onclick="changeTab('tab3')">
        <img src="/src/img/icons/package.svg" alt="package" width="36" height="36" loading="lazy"/>
        Возврат товара
      </button>
    </div>
    <div class="store__line"></div>
    <div id="tab1" class="tab__content active">
      <div class="tab__content--info">
        <div class="tab__content--title">Способы оплаты</div>
        <div class="tab__content--item">
          <div class="tab__content--slogan">
            <div class="tab__slogan--avatar">
              <img src="/src/img/icons/museum.svg" alt="museum" width="19" height="19" loading="lazy"/>
            </div>
            <div class="tab__slogan--text">Безналичный расчет</div>
          </div>
          <div class="tab__content--text">
            Вы можете выбрать “получить реквизиты”
            <br />
            для дальнейшей оплаты на карту, или в терминалах.
          </div>
        </div>
        <div class="tab__content--item">
          <div class="tab__content--slogan">
            <div class="tab__slogan--avatar">
              <img src="/src/img/icons/bank-card.svg" alt="bank-card" width="22" height="22" loading="lazy" />
            </div>
            <div class="tab__slogan--text">
              Оплата с помощью банковской карты
            </div>
          </div>
          <div class="tab__content--text">
            Оплатите Ваш заказ картой любого банка онлайн (LiqPay/Приват24)
          </div>
        </div>
        <div class="tab__content--item">
          <div class="tab__content--slogan">
            <div class="tab__slogan--avatar">
              <img src="/src/img/icons/wallet-white.svg" alt="wallet" width="18" height="20" loading="lazy"/>
            </div>
            <div class="tab__slogan--text">Наличный расчет</div>
          </div>
          <div class="tab__content--text">
            Оплата заказов наложенным платежом в отделении Новой Почты, или наличными курьерами
          </div>
        </div>
      </div>
      <img class="tab__content--img" src="/src/img/payment.png" alt="" width="770" height="471" loading="lazy"/>
    </div>

    <div id="tab2" class="tab__content">
      <div class="tab__content--info">
        <div class="tab__content--title">Способы оплаты</div>
        <div class="tab__content--item">
          <div class="tab__content--slogan">
            <div class="tab__slogan--avatar">
              <img src="/src/img/icons/museum.svg" alt="museum" width="19" height="19" loading="lazy"/>
            </div>
            <div class="tab__slogan--text">Безналичный расчет</div>
          </div>
          <div class="tab__content--text">
            Вы можете выбрать “получить реквизиты”
            <br />
            JDSJFLSDLFLSDLFJLJSLFLSDFSDJLFSD
          </div>
        </div>
        <div class="tab__content--item">
          <div class="tab__content--slogan">
            <div class="tab__slogan--avatar">
              <img src="/src/img/icons/bank-card.svg" alt="bank-card" width="22" height="22" loading="lazy"/>
            </div>
            <div class="tab__slogan--text">
              Оплата с помощью банковской карты
            </div>
          </div>
          <div class="tab__content--text">
            Оплатите Ваш заказ картой любого банка онлайн (LiqPay/Приват24)
          </div>
        </div>
        <div class="tab__content--item">
          <div class="tab__content--slogan">
            <div class="tab__slogan--avatar">
              <img src="/src/img/icons/wallet-white.svg" alt="wallet" width="18" height="20" loading="lazy"/>
            </div>
            <div class="tab__slogan--text">Наличный расчет</div>
          </div>
          <div class="tab__content--text">
            Оплата заказов наложенным платежом в отделении Новой Почты, или наличными курьерами
          </div>
        </div>
      </div>
      <img class="tab__content--img" src="/src/img/pic (2).png" alt="" width="770" height="471" loading="lazy"/>
    </div>

    <div id="tab3" class="tab__content">
      <div class="tab__content--info">
        <div class="tab__content--title">Способы оплаты</div>
        <div class="tab__content--item">
          <div class="tab__content--slogan">
            <div class="tab__slogan--avatar">
              <img src="/src/img/icons/museum.svg" alt="museum" width="19" height="19" loading="lazy"/>
            </div>
            <div class="tab__slogan--text">Безналичный расчет</div>
          </div>
          <div class="tab__content--text">
            Вы можете выбрать “получить реквизиты”
            <br />
            JDSJFLSDLFLSDL
          </div>
        </div>
        <div class="tab__content--item">
          <div class="tab__content--slogan">
            <div class="tab__slogan--avatar">
              <img src="/src/img/icons/bank-card.svg" alt="bank-card" width="22" height="22" loading="lazy"/>
            </div>
            <div class="tab__slogan--text">
              Оплата с помощью банковской карты
            </div>
          </div>
          <div class="tab__content--text">
            Оплатите Ваш заказ картой любого банка онлайн (LiqPay/Приват24)
          </div>
        </div>
        <div class="tab__content--item">
          <div class="tab__content--slogan">
            <div class="tab__slogan--avatar">
              <img src="/src/img/icons/wallet-white.svg" alt="wallet" width="18" height="20" loading="lazy" />
            </div>
            <div class="tab__slogan--text">Наличный расчет</div>
          </div>
          <div class="tab__content--text">
            Оплата заказов наложенным платежом в отделении Новой Почты, или наличными курьерами
          </div>
        </div>
      </div>
      <img class="tab__content--img" src="/src/img/pic (3).png" alt="" width="770" height="471" loading="lazy" />
    </div>
  </div>
</section>

<script>
  function changeTab(tabId) {
    // Скрываем все вкладки
    const tabContents = document.querySelectorAll(".tab__content");
    tabContents.forEach(tabContent => {
      tabContent.classList.remove("active");
    });

    // Убираем класс "active" у всех кнопок
    const buttons = document.querySelectorAll(".tab-button");
    buttons.forEach(button => {
      button.classList.remove("active");
    });

    // Отображаем выбранную вкладку
    const selectedTab = document.getElementById(tabId);
    if (selectedTab) {
      selectedTab.classList.add("active");
    }

    // Добавляем класс "active" только для выбранной кнопки
    const selectedButton = document.querySelector(`button[onclick="changeTab('${tabId}')"]`);
    if (selectedButton) {
      selectedButton.classList.add("active");
    }
  }

  // Инициализация первой вкладки при загрузке страницы
  document.addEventListener("DOMContentLoaded", () => {
    changeTab('tab1');
  });
</script>