.breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    margin-top: 35px;
   
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
    background-image: url(/src/img/icons/breadcrumb-arrow.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
   
    color: rgba(138, 138, 138, 1);
}

.breadcrumb-item a {
    color: rgb(57, 57, 57);
    text-decoration: none;
    font-family: $fontFamilyRaleway;
    font-size: 14px;
}

.breadcrumb-item a:hover {
    color: rgba(138, 138, 138, 0.5);
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item.inactive {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.breadscrum-banner {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
    

    .breadcrumb-item a {
            color: $main-color;
           
        }
}