.footer {
    margin-top: -6px;
    margin-bottom: 50px;

    .footer__content {
        display: flex;
        
        justify-content: space-between;
        align-items: center;

        .footer__logo {
            display: flex;
            align-items: center;
            gap: 8px;

            .footer__logo--title {
                color: #1A2F3F;
                font-family: $fontFamilyRaleway;
                font-size: 15px;
                font-weight: 800;
                line-height: normal;
                letter-spacing: 0.3px;
            }
        }

        .footer__menu {
            width: 994px;
            padding-top: 20px;

            .footer__menu--list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .menu__list--item {
                    color: $blue-whale-color;
                    font-family: $fontFamilyRaleway;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.3px;

                    &:hover {
                        color: #337D5A;
                        border-bottom: 3px solid #337D5A;
                        padding-bottom: 13px;
                    }
                }
            }
        }
    }

    .footer__line {
        margin-top: 25px;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.06);
    }

    .footer__content--bottom {
        display: flex;
        margin-top: 28px;
        
        justify-content: space-between;

        .content__top--enter {
            color: $amazon-color;
            font-family: $fontFamilyBase;
            font-size: 12px;
            font-weight: 600;
            line-height: normal;
        }

        .content__top--sale {
            color:$blue-whale-color;
            font-family: $fontFamilyBase;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            // margin-left: -98px;
        }

        .top__social--items {
            display: flex;
            flex-direction: row;
            gap: 18px;
        }
    }
}

@include respond-to($l-desktop){
    .footer {

        .footer__content{
            .footer__logo{
                width: 200px;
                margin-right: 60px;
            }
            .footer__menu{
                width: 900px;
                .footer__menu--list{
                    flex-wrap: wrap;
                }
            }
        }
    }
}
@include respond-to($desktop){
    .footer {

        .footer__content{

            .footer__logo{
               
            }
            .footer__menu{
                padding-top: 0px;
                .footer__menu--list{
                    flex-wrap: wrap;

                }
            }
        }
    }
}

@include respond-to($s-tablet){
    .footer {

        .footer__content{
            display: block;
            .footer__logo{
               margin: 0 auto;
            }
            .footer__menu{
                width: 460px;
                padding-top: 20px;
                margin: 0 auto;
                .footer__menu--list{
                    flex-wrap: wrap;
                }
            }
        }
        .footer__content--bottom{
            flex-wrap: wrap;
            row-gap: 10px;
        }
    }
}


@include respond-to($m-mobile){
    .footer {

        .footer__content{
            display: block;

            .footer__logo{
               margin: 0 auto;
            }

            .footer__menu{
                width: 360px;
                padding-top: 20px;
                margin: 0 auto;
                .footer__menu--list{
                    flex-wrap: wrap;
                }
            }
        }

        .footer__content--bottom{
            flex-wrap: wrap;
            row-gap: 10px;
            position: relative;

            .content__top--enter {
               order: 1;
            }
    
            .content__top--sale {
               order: 3;
            }
    
            .content__top--social {
                order: 2;
                gap: 18px;
            }
        }
    }
}
@include respond-to($s-mobile){
    .footer {

        .footer__content{
            display: block;

            .footer__logo{
               margin: 0 auto;
            }

            .footer__menu{
                width: 250px;
                
                padding-top: 20px;
                margin: 0 auto;
                .footer__menu--list{
                    flex-wrap: wrap;
                    display: block;
                    text-align: center;
                }
            }
        }
        .footer__line {
            margin-top: 15px;
        }
        .footer__content--bottom{
            margin-top: 15px;
        }
    }
}