.main-page-baner {
  background-image: url(/src/img/banner-main-page.jpg);
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;

  &__wrapper {
    padding-top: 195px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    text-align: center;
    color: $main-color;
    font-family: $fontFamilyRaleway;
    letter-spacing: 1px;
  }

  &__title {
    font-weight: 700;
    font-size: 62px;
  }

  &__subtitle {
    font-size: 25px;
    margin-top: 30px;
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
  }

  &__btn {
    margin-top: 40px;
  }

  @include respond-to($l-desktop) {
    &__wrapper {
      padding-top: 164px;
    }
  }

  @include respond-to($l-tablet) {
    height: 500px;

    &__title {
      font-size: 42px;
    }

    &__subtitle {
      font-size: 18px;
      margin-top: 25px;
      max-width: 460px;
    }

    &__wrapper {
      padding-top: 124px;
    }
  }

  @include respond-to($m-mobile) {
    height: 400px;

    &__title {
      font-size: 22px;
    }

    &__subtitle {
      font-size: 14px;
      margin-top: 15px;
      max-width: 360px;
    }

    &__btn {
      width: 41px;
      height: 41px;
    }
  }
}

.main-page-thesis {
  background-image: url(/src/img/main-page-thesis.jpg);
position: relative;
height: 740px;

.main-page-baner__wrapper {
  padding-top: 240px;
}

  .main-page-baner__title {
    font-size: 45px;
    max-width: 1145px;
    margin-right: auto;
    margin-left: auto;
    
  }

  .main-page-baner__subtitle {
   font-style: italic;
   font-size: 24px;
   position: absolute;
   bottom: 200px;
   letter-spacing: 0;
   left: 50%;
   transform: translateX(-50%);
  }
  
.main-page-baner__btn {
  margin-top: 80px;
}

@include respond-to($m-desktop) {
height: 540px;

.main-page-baner__title {
    font-size: 25px;
}
    .main-page-baner__wrapper {
        padding-top: 140px;
      }

            .main-page-baner__subtitle {
              bottom: 50px;
              font-size: 14px;
            }
  
}
}

