.reset-password {

    &__wrapper {
        width: 410px;
        margin: 50px auto 90px auto;
    }

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__subtitle-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-family: $fontFamilyRaleway;
        font-size: 18px;
        margin-left: 8px;
    }

    &__text {
        font-family: $fontFamilyRaleway;
        font-size: 15px;
        color: rgba(138, 138, 138, 1);
        text-align: center;
        margin-bottom: 20px;

        span {
            color: #000;
        }
    }

    &__block-sec {
        margin-top: 45px;
    }

    &__submit-button {
        padding: 15px 51px;
        font-size: 16px;
        
    }

    &__btn-wrapper {
        text-align: center;
    }

    &__submit-button-sec {
        margin-top: 20px;
        padding: 15px 60px;
    }

    &__btn-wrapper-sec {
        margin-top: 20px;
    }

        @include respond-to($s-mobile) {
            &__wrapper {
                width: 100%;
            }

                        &__submit-button {
                            width: 100%;
            
                        }
        }
}