.secondary-banner {
  background-image: url(/src/img/catalog-banner.jpg);
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;

  &__wrapper {
    padding-top: 127px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    text-align: center;
    color: $main-color;
    font-family: $fontFamilyRaleway;
    letter-spacing: 1px;
  }

  &__title {
    font-weight: 700;
    font-size: 62px;
  }

    @include respond-to($tablet) {
      background-image: url(/src/img/catalog-banner-tab.jpg);
    }
  
   

  @include respond-to($l-mobile) {
background-image: url(/src/img/catalog-banner-mob.jpg);

    &__wrapper {
      padding-top: 70px;
    }

    &__title {
      font-size: 42px;
    }
  }
}
