<section class="error">
  <div class="container">
    <dic class="error__content">
      <picture class="error__404">
  <source srcset="/src/img/404.webp" type="image/webp">
  <img src="/src/img/404.png" class="error__404" alt="error_404"  width="522" height="180"/>
</picture>
      
      <h3 class="error__text">Страница не найдена</h3>
      <div class="error__button button__white-bg">
        <a href="/Nuts/" class="error__button-btn">
            <img src="/src/img/icons/arrow-left-green-bg.svg" alt="" class="error__arrow-btn" width="14" height="14">
            <span>Вернуться на Главную страницу</span>
        </a>
      </div>
    </dic>
  </div>
</section>