.basket {
  margin: 33px 0 89px 0;
  .basket__main--links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .basket__link {
      color: #8a8a8a;
      font-family: $fontFamilyRaleway;
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.28px;
    }
  }

  .avatar__headline {
    margin-top: 52px;
    display: flex;
    gap: 190px;

    .avatar__headline--title {
      font-family: $fontFamilyRaleway;
      font-size: 32px;
      font-weight: 800;
      line-height: 32px;
      letter-spacing: 0px;
    }

    .avatar__headline--manager {
      display: flex;
      flex-direction: column;

      .avatar__manager--name {
        font-family: $fontFamilyRaleway;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.16px;
      }

      .avatar__manager--number {
        margin-top: -7px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #337d5a;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.14px;
      }
    }
  }
  .basket__header,
  .basket__item {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    height: 68px;

    padding: 0 10px 0 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .basket__header {
    margin: 33px 0 0 0;
    font-family: $fontFamilyRaleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    align-items: center;
    background: #fbfbfb;

    &__item {
      display: flex;

      img {
        margin: 0 0 0 5px;
      }
      //   &:nth-child(2) {
      //     padding: 0 0 0 10px;
      //   }

      //   &:nth-child(3) {
      //     padding: 0 0 0 33px;
      //   }
      //   &:nth-child(4) {
      //     padding: 0 0 0 84px;
      //   }
    }
  }

  .basket__item {
    // border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    line-height: 32px;

    align-items: center;

    &:hover {
      background: #337d5a1a;
    }
    .number-box {
      display: flex;

      #number {
        text-align: center;
        width: 44px;
        height: 28px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        line-height: 32px;
        margin: 0 6px;
      }

      #prev-button {
        border: none;
        background: none;
      }

      #next-button {
        border: none;
        background: none;
      }
    }
    .basket__price {
      padding: 0 0 0 30px;
    }
    .basket__total {
      padding:0 0 0 55px;
    }
  }
  .basket__bnt {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;

    .continue {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 249px;
      height: 50px;
      border: 2px solid #337d5a;
      color: #337d5a;
      font-family: $fontFamilyRaleway;
      font-size: 16px;
      font-weight: 700;
      line-height: 17px;
    }

    .make__order {
      display: flex;
      gap: 20px;
      align-items: center;

      .make__order--price {
        display: flex;
        gap: 11px;
        margin-right: 7px;

        .make__price--text {
          font-family: $fontFamilyRaleway;
          font-size: 18px;
          font-weight: 700;
          line-height: 32px;
        }

        .make__price--price {
          display: flex;
          gap: 5px;

          .make__price--nubmer {
            color: #337d5a;
            font-size: 22px;
            font-weight: 700;
            line-height: 32px;
          }

          .make__price--text {
            color: #337d5a;
            font-weight: 600;
            line-height: 32px;
          }
        }
      }

      .make__order--btn {
        width: 249px;
        height: 50px;
        border: 0.5px solid #337d5a;
        background: #337d5a;
        color: $main-color;
        font-family: $fontFamilyRaleway;
        font-size: 16px;
        font-weight: 700;
        line-height: 17px;
      }
    }
  }

  .basket__slogan {
    margin-top: 60px;
    font-family: $fontFamilyRaleway;
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0.28px;
    text-align: center;
  }

  .basket__link {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    gap: 5px;

    .basket__link--item {
      color: #337d5a;
      font-family: $fontFamilyRaleway;
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0.18px;

      &:hover {
        color: #337d5a;
        border-bottom: 1px solid #337d5a;
      }
    }

    .or {
      font-family: $fontFamilyRaleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0.18px;
    }
  }
}

@media screen and (max-width: 600px) {
    .basket {
        
        .avatar__headline {
            flex-direction: column;
            gap: 50px;
        }
    }
}

@media screen and (max-width: 885px) {
    .basket {
        .basket__header,
  .basket__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 68px;

    padding: 0 10px 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
    }
}

@media screen and (max-width: 750px) {
    .basket {
        
    }
}

@media screen and (max-width: 670px) {
    .basket {
        .basket__header,
        .basket__item {
            gap: 10px;
            .basket__price {
                padding-left: 10px;
              }
              .basket__total {
                padding-left: 25px;
              }
        }
        .basket__bnt {
            .continue {
                width: 180px;
            }
            .make__order {
                .make__order--btn {
                    width: 180px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .basket {
        
        .avatar__headline {
            flex-direction: column;
            gap: 50px;
        }
    }
}

@media screen and (max-width: 520px) {
    .basket {
        .basket__header,
  .basket__item {
    grid-template-columns: 1fr 1fr;
    height: 100px;
    gap: 5px;
  }
  .basket__header {
    margin: 33px 0 0 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    .basket__header__item{
        margin: 0 auto;
        text-align: center;
    }
  }
  .basket__item {
    .basket__item-product{
        margin: 0 auto;
    }
    .number-box{
        margin: 0 auto;
    }
    .basket__price {
        padding: 0 ;
        margin: 0 auto;
      }
      .basket__total {
        padding :0;
        margin: 0 auto;
      }
  }
        .basket__bnt {
            .make__order {
                flex-direction: column;
            }
        }
        
        .basket__link {
            .basket__link--item {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .basket {
        .basket__bnt {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}

