<section class="customer-page-menu">
        <div class="container">
            <div class="menu__headline-nav">
                <button class="menu__tab-button" onclick="selectTab('menu-tab')">
                        <img src="/src/img/icons/supermarket.svg" alt="supermarket" width="37" height="37">
                    Крупные супермаркеты
                </button>
                <button class="menu__tab-button" onclick="selectTab('menu-tab2')">
                    <img src="/src/img/icons/shop.svg" alt="shop" width="37" height="37">
                    Розничные магазины
                </button>
                <button class="menu__tab-button" onclick="selectTab('menu-tab3')" >
                    <img src="/src/img/icons/dinner-table.svg" alt="dinner-table" width="49" height="49">
                    Компании HoReCa
                </button >
                <button class="menu__tab-button" onclick="selectTab('menu-tab4')">
                    <img src="/src/img/icons/dumbbell.svg" alt="dumbbell" width="45" height="45">
                    Фитнес и спорт клубы
                </button>
                <button  class="menu__tab-button" onclick="selectTab('menu-tab5')">
                    <img src="/src/img/icons/cake.svg" alt="cake" width="43" height="43">
                    Кондитерские и пекарни
                </button>
            </div>
        </div>

          <div class="menu__line"></div>

        <div class="container">
            <div id="menu-tab" class="menu__tab-content">
              <div class="menu__content-inner">
                <div class="menu__content-article">
                  СОК "Орех Причерноморья" предлагает своим клиентам выгодные
                  условия сорудничества.
                </div>
                <div class="menu__content-article">
                  Мы готовы рассмотреть особые условия для оптовых покупателей,
                  с готовностью идем на встречу к любому предложению.
                </div>
                <div class="menu__content-article">
                  Особые условия подготовленны для розничных магазинов. компаний
                  HoReCa, спорт-клубов.
                </div>
                <div class="menu__content-article">
                  Если вы заинтересованы в нашей продукции, пишите или звоните в
                  наш главный офис, мы всегда пойдем 
                  вам на встречу.
                </div>
                <button class="write__to-us">Написать нам</button>
              </div>
              <img
                class="menu__content-img"
                src="/src/img/customersPageMenu.png"
                alt=""
              />
            </div>
            <div id="menu-tab2" class="menu__tab-content">
              <div class="menu__content-inner">
                <div class="menu__content-article">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  reprehenderit tempora, facere iure saepe rerum perspiciatis
                  aspernatur laborum nulla quae quam nesciunt labore cupiditate
                  itaque magni officiis quaerat corrupti voluptate!
                </div>
                <div class="menu__content-article">
                  Мы готовы рассмотреть особые условия для оптовых покупателей,
                  с готовностью идем на встречу к любому предложению.
                </div>
                <div class="menu__content-article">
                  Особые условия подготовленны для розничных магазинов. компаний
                  HoReCa, спорт-клубов.
                </div>
                
                </div>
                <button class="write__to-us">Написать нам</button>
              </div>
              <img class="menu__content-img" src="/src/img/customersPageMenu.png" alt="customerMenu"/>
            </div>
            <div id="menu-tab3" class="menu__tab-content">
              <div class="menu__content-inner">
                <div class="menu__content-article">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  reprehenderit tempora, facere iure saepe rerum perspiciatis
                  aspernatur laborum nulla quae quam nesciunt labore cupiditate
                  itaque magni officiis quaerat corrupti voluptate!
                </div>
                <div class="menu__content-article">
                  Особые условия подготовленны для розничных магазинов. компаний
                  HoReCa, спорт-клубов.
                </div>
                <div class="menu__content-article">
                  Если вы заинтересованы в нашей продукции, пишите или звоните в
                  наш главный офис, мы всегда пойдем <br />
                  вам на встречу.
                </div>
                <button class="write__to-us">Написать нам</button>
              </div>
              <img class="menu__content-img" src="/src/img/customersPageMenu.png" alt="customerMenu"/>
            </div>
            <div id="menu-tab4" class="menu__tab-content">
              <div class="menu__content-inner">
                <div class="menu__content-article">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  reprehenderit tempora, facere iure saepe rerum perspiciatis
                  aspernatur laborum nulla quae quam nesciunt labore cupiditate
                  itaque magni officiis quaerat corrupti voluptate!
                </div>
                <div class="menu__content-article">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  reprehenderit tempora, facere iure saepe rerum perspiciatis
                  aspernatur laborum nulla quae quam nesciunt labore cupiditate
                  itaque magni officiis quaerat corrupti voluptate!
                </div>
                
                <div class="menu__content-article">
                  Если вы заинтересованы в нашей продукции, пишите или звоните в
                  наш главный офис, мы всегда пойдем <br />
                  вам на встречу.
                </div>
                <button class="write__to-us">Написать нам</button>
              </div>
              <img class="menu__content-img" src="/src/img/customersPageMenu.png" alt="customerMenu"/>
            </div>
            <div id="menu-tab5" class="menu__tab-content">
              <div class="menu__content-inner">
                <div class="menu__content-article">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  reprehenderit tempora, facere iure saepe rerum perspiciatis
                  aspernatur laborum nulla quae quam nesciunt labore cupiditate
                  itaque magni officiis quaerat corrupti voluptate!
                </div>
                <div class="menu__content-article">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  reprehenderit tempora, facere iure saepe rerum perspiciatis
                  aspernatur laborum nulla quae quam nesciunt labore cupiditate
                  itaque magni officiis quaerat corrupti voluptate!
                </div>
                <div class="menu__content-article">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  reprehenderit tempora, facere iure saepe rerum perspiciatis
                  aspernatur laborum nulla quae quam nesciunt labore cupiditate
                  itaque magni officiis quaerat corrupti voluptate!
                </div>
                
                <button class="write__to-us">Написать нам</button>
              </div>
              <img class="menu__content-img" src="/src/img/customersPageMenu.png" alt="customerMenu"/>
            </div>


            <div class="swiper swiper__menu">
              
              <div class="swiper-wrapper swiper__store-wrapper">
               
                <div class="swiper-slide swiper__menu-slide">
                  <div class="menu__slide-title">
                    <img src="/src/img/icons/supermarket.svg" alt="supermarket" width="37" height="37">
                    Крупные супермаркеты
                  </div>
                  <img class="menu__content-img2" src="/src/img/customersPageMenu.png" alt="customerMenu-bg" />
                  <div class="main__slide-text">
                    <div class="menu__content-article">
                      СОК "Орех Причерноморья" предлагает своим клиентам
                      выгодные условия сорудничества.
                    </div>
                    <div class="menu__content-article">
                      Мы готовы рассмотреть особые условия для оптовых
                      покупателей, с готовностью идем на встречу к любому
                      предложению.
                    </div>
                    <div class="menu__content-article">
                      Особые условия подготовленны для розничных магазинов.
                      компаний HoReCa, спорт-клубов.
                    </div>
                    <div class="menu__content-article">
                        Если вы заинтересованы в нашей продукции, пишите или звоните в
                        наш главный офис, мы всегда пойдем 
                        вам на встречу.
                    </div>
                    <button class="write__to-us">Написать нам</button>
                  </div>
                </div>

                <div class="swiper-slide swiper__menu-slide">
                  <div class="menu__slide-title">
                    <img src="/src/img/icons/shop.svg" alt="shop" width="37" height="37">
                    Розничные магазины
                  </div>
                  <img class="menu__content-img2" src="/src/img/customersPageMenu.png" alt="customerMenu-bg" />
                  <div class="main__slide-text">
                    <div class="menu__content-article">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Hic reprehenderit tempora, facere iure saepe rerum
                      perspiciatis aspernatur laborum nulla quae quam nesciunt
                      labore cupiditate itaque magni officiis quaerat corrupti
                      voluptate!
                    </div>
                    <div class="menu__content-article">
                      Мы готовы рассмотреть особые условия для оптовых
                      покупателей, с готовностью идем на встречу к любому
                      предложению.
                    </div>
                    <div class="menu__content-article">
                      Особые условия подготовленны для розничных магазинов.
                      компаний HoReCa, спорт-клубов.
                    </div>
                    
                    <button class="write__to-us">Написать нам</button>
                  </div>
                </div>

                <div class="swiper-slide swiper__menu-slide">
                  <div class="menu__slide-title">
                    <img src="/src/img/icons/dinner-table.svg" alt="dinner-table" width="49" height="49">
                    Компании HoReCa
                  </div>
                  <img class="menu__content-img2" src="/src/img/customersPageMenu.png" alt="customerMenu-bg" />
                  <div class="main__slide-text">
                    <div class="menu__content-article">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Hic reprehenderit tempora, facere iure saepe rerum
                      perspiciatis aspernatur laborum nulla quae quam nesciunt
                      labore cupiditate itaque magni officiis quaerat corrupti
                      voluptate!
                    </div>
                    
                    <div class="menu__content-article">
                      Особые условия подготовленны для розничных магазинов.
                      компаний HoReCa, спорт-клубов.
                    </div>
                    <div class="menu__content-article">
                      Если вы заинтересованы в нашей продукции, пишите или
                      звоните в наш главный офис, мы всегда пойдем <br />
                      вам на встречу.
                    </div>
                    <button class="write__to-us">Написать нам</button>
                  </div>
                </div>

                <div class="swiper-slide swiper__menu-slide">
                  <div class="menu__slide-title">
                    <img src="/src/img/icons/dumbbell.svg" alt="dumbbell" width="45" height="45">
                    Фитнес и спорт клубы
                  </div>
                  <img class="menu__content-img2" src="/src/img/customersPageMenu.png" alt="customerMenu-bg" />
                  <div class="main__slide-text">
                    <div class="menu__content-article">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Hic reprehenderit tempora, facere iure saepe rerum
                      perspiciatis aspernatur laborum nulla quae quam nesciunt
                      labore cupiditate itaque magni officiis quaerat corrupti
                      voluptate!
                    </div>
                    <div class="menu__content-article">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Hic reprehenderit tempora, facere iure saepe rerum
                      perspiciatis aspernatur laborum nulla quae quam nesciunt
                      labore cupiditate itaque magni officiis quaerat corrupti
                      voluptate!
                    </div>
                    
                    <div class="menu__content-article">
                      Если вы заинтересованы в нашей продукции, пишите или
                      звоните в наш главный офис, мы всегда пойдем <br />
                      вам на встречу.
                    </div>
                    <button class="write__to-us">Написать нам</button>
                  </div>
                </div>

                <div class="swiper-slide swiper__menu-slide">
                  <div class="menu__slide-title">
                   <img src="/src/img/icons/cake.svg" alt="cake" width="43" height="43">
                    Кондитерские и пекарни
                  </div>
                  <img class="menu__content-img2" src="/src/img/customersPageMenu.png" alt="customerMenu-bg" />
                  <div class="main__slide-text">
                    <div class="menu__content-article">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Hic reprehenderit tempora, facere iure saepe rerum
                      perspiciatis aspernatur laborum nulla quae quam nesciunt
                      labore cupiditate itaque magni officiis quaerat corrupti
                      voluptate!
                    </div>
                    <div class="menu__content-article">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Hic reprehenderit tempora, facere iure saepe rerum
                      perspiciatis aspernatur laborum nulla quae quam nesciunt
                      labore cupiditate itaque magni officiis quaerat corrupti
                      voluptate!
                    </div>
                    <div class="menu__content-article">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Hic reprehenderit tempora, facere iure saepe rerum
                      perspiciatis aspernatur laborum nulla quae quam nesciunt
                      labore cupiditate itaque magni officiis quaerat corrupti
                      voluptate!
                    </div>
                    
                    <button class="write__to-us">Написать нам</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>