<section class="customer-page-baner {{additionalClass}}">
  <div class="customer-page-baner__wrapper">
    <h1 class="customer-page-baner__title">{{title}}</h1>
    <p class="customer-page-baner__subtitle">{{subtitle}}</p>

  </div>

</section>