<section>
    <div class="swiper swiper__clients">
          <div class="swiper__main__links">
            <a href="" class="swiper__link">Главная</a>
            <img src="/src/img/icons/right-arrow-white.svg" alt="right-arrow" width="12" height="12">
            <a href="" class="swiper__link">Оптовым и корпоративным клиентам </a>
          </div>
          
          <div class="swiper-wrapper swiper__clients__wrapper">
            
            <div class="swiper-slide swiper__clients__slide">
              <img src="/src/img/customerBanner.png" alt="banner" />
              <div class="main__slide__text">
                <div class="slide__text__title">Орех Причерноморья</div>
                <div class="slide__text__subtitle">
                  Единственный в Украине сад совместного выращивание фундука и грецкого
                  ореха
                </div>
              </div>
            </div>
            
            {{!-- <div class="swiper-slide swiper__clients__slide">
              <img src="/src/img/customerBanner.png" alt="banner" />
              <div class="main__slide__text">
                <div class="slide__text__title">Орех Причерноморья</div>
                <div class="slide__text__subtitle">
                  Единственный в Украине сад совместного выращивание фундука и грецкого
                  ореха
                </div>
              </div>
            </div>

            <div class="swiper-slide swiper__clients__slide">
              <img src="/src/img/customerBanner.png" alt="banner" />
              <div class="main__slide__text">
                <div class="slide__text__title">Орех Причерноморья</div>
                <div class="slide__text__subtitle">
                  Единственный в Украине сад совместного выращивание фундука и грецкого
                  ореха
                </div>
              </div>
            </div> --}}
          </div>
        </div>
</section>