<section class="customer-page-about">
  <div class="container">
    <div class="customer-page-about-inner">
      <div class="customer-page-about__inner-title">
        Оптовым и корпоративным клиентам
      </div>
      <div class="customer-page-about__inner-article">
        <div class="customer-page-about__inner-text1">
          Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
          предлагает своим клиентам выгодные условия сотрудничества.
        </div>
        <div class="customer-page-about__inner-text2">
          Особые условия подготовлены для
          <span class="bold__text1">розничных магазинов, компаний HoReCa, спорт
            - клубов.</span>
        </div>
      </div>
      <div class="customer-page-about__inner-article">
        <div class="customer-page-about__inner-text3">
          Мы готовы рассмотреть особые условия для оптовых покупателей, с
          готовностью идем на встречу любому предложению.
        </div>
        <div class="customer-page-about__inner-text4">
          Если вы заинтересованы в нашей продукции, пишите, или звоните в наш
          главный офис - мы всегда пойдем вам на встречу!
        </div>
      </div>
    </div>
  </div>
</section>