.pay {
  margin-top: 80px;
  margin-bottom: 80px;
  .pay__headline--nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1055px;
    margin: 0 auto;
    .tab-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 13px;
      border: none;
      background: none;
      font-family: $fontFamilyRaleway;
      font-size: 20px;
      font-weight: 800;
      line-height: 23px;
      /* 115% */
      letter-spacing: 0.2px;
    }

    .tab-button.active .color2 path {
      fill: red;
    }
  }

  .store__line {
    background: rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 1px;
    margin-top: 24px;
  }

  .tab__content {
    margin-top: 34px;
    justify-content: space-between;
    display: none;

    .tab__content--info {
      display: flex;
      flex-direction: column;
      // gap: 35px;
      max-width: 445px;
      margin-top: 10px;
      .tab__content--title {
        color: #1a2f3f;
        font-family: $fontFamilyRaleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 24px;
        /* 133.333% */
        margin-bottom: -10px;
      }

      .tab__content--item {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        margin-top: 38px;
        .tab__content--slogan {
          display: flex;
          gap: 23px;
          align-items: center;

          .tab__slogan--avatar {
            background: $amazon-color;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            text-align: center;
            position: relative;

            img {
              margin-top: 8px;
              margin: 8px 0 0 8px;
            }

            &::before {
              content: "";
              width: 48px;
              height: 48px;
              position: absolute;
              top: -6px;
              left: -6px;
              border-radius: 50%;
              background: rgba(147, 180, 116, 0.15);
            }
          }

          .tab__slogan--text {
            font-family: $fontFamilyRaleway;
            font-size: 16px;
            font-style: italic;
            font-weight: 600;
            line-height: 24px;
          }
        }

        .tab__content--text {
          margin-top: 18px;
          margin-left: -5px;
          font-family: $fontFamilyRaleway;
          font-size: 16px;
          line-height: 24px;
          /* 150% */
        }
      }
    }

    .tab__content--img {
      max-width: 770px;
      width: 100%;
      height: 470px;
    }
  }

  #tab1 {
    display: flex;
  }
  .tab__content {
    display: none;

    &.active {
      display: flex;
    }
  }
}

@media screen and (max-width: 1100px) {
  .option .tab__content .tab__content--img {
    max-width: 600px;
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  .option {
    .tab__content {
      flex-direction: column-reverse;
      gap: 40px;
      justify-content: flex-start;
      
      .tab__content--info {
        flex-direction: row;
        max-width: 1000px;
        .tab__content--item {
          max-width: 250px;
          width: 100%;
          .tab__content--slogan {
            .tab__slogan--avatar {
              img {
                width: 38px;
              }
            }
          }
        }
      }
      .tab__content--img {
        max-width: 1000px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .option {
    .tab__content {
      .tab__content--info {
        flex-direction: column;

        .tab__content--item {
          max-width: 1000px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .option {
    .option__headline--nav {
      .tab-button {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 435px) {
  .option {
    .option__headline--nav {
      .tab-button {
        gap: 7px;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .option {
    .option__headline--nav {
      .tab-button {
        gap: 5px;
        font-size: 10px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
