<section class="checkout-banner">
  <div class="checkout-banner__wrapper">
    
    <h1 class="checkout-banner__title title">Благодарим Вас за заказ!</h1>
    <p class="checkout-banner__subtitle">Наши менеджеры свяжутся с Вами 
в ближайшее время</p>

  </div>

</section>