<section class="export">
  <div class="container">
    <div class="page__navigation">
      <div class="news__main-links">
        <a href="/index.html" class="main-link">Главная</a>

        <img
          src="/src/img/icons/right-arrow.svg"
          alt="white-arrow"
          width="12"
          height="12"
        />

        <a href="/newsPage/" class="swiper__link">Новости и статьи </a>
      </div>
    </div>
    <div class="export__container--inner">
      <div class="export__content">
        <div class="export__content--title">
          Центр поддержки экспорта,<br />
          в студии Павел Тулба
        </div>
        <div class="export__content--data">12.04.2019</div>
        <img
          class="export__tractor"
          src="/src/img/newPage-export-1.png"
          alt=""
        />
        <div class="article">
          Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
          предлагает своим клиентам выгодные условия сотрудничества. Ореховый
          бизнес – один из наиболее перспективных в Украине. Ежегодная нехватка
          продукта в Европе составляет 100 000 тонн. У Вас есть возможность
          зарабатывать десятки тысяч долларов в год всего на нескольких гектарах
          земли.
        </div>
        <div class="article2">
          Предприятие основано в 2012 году для закладки смешанного сада грецкого
          ореха и фундука в Одесской области. На сегодня уже заложено более 200
          гектаров сада и этот процесс продолжается. Кооператив предоставляет
          полный цикл сопровождения: от выращивания до сбыта.
        </div>
        <div class="article3">
          Кроме выращивания грецкого ореха и фундука, компания занимается
          выращиванием саженцев, разведением и выращиванием овец, а также
          является первой в Украине компанией, приступившей к промышленному
          выращиванию трюфелей на корнях фундука.
        </div>
        <div class="article__title">
          В Украине появится первое насаждение
          <br />
          органического шиповника
        </div>
        <div class="article4">
          Наш сельскохозяйственный обслуживающий кооператив «Орех Причерноморья»
          был основан в 2012-ом году для закладки смешанного сада грецкого ореха
          и фундука. На данный момент во владении нашей компании находится 1
          гектар тепличной площади и 270 гектар садовой площади, которую мы
          планируем расширять. «Орех Причерноморья» включен в реестр
          Министерства Аграрной Политики Украины.
        </div>
        <div class="article__list">
          Смешанный сад грецкий орех+шиповник
          <div class="article__list--item">
            <img
              src="/src/img/icons/Ellipse.svg"
              alt="circle"
              width="5"
              height="5"
            />
            <div class="article__item--text">
              Возможность полной механизации всех работ по саду
            </div>
          </div>
          <div class="article__list--item">
            <img
              src="/src/img/icons/Ellipse.svg"
              alt="circle"
              width="5"
              height="5"
            />
            <div class="article__item--text">
              Невысокая стоимость смешанного сада при закладке
            </div>
          </div>
          <div class="article__list--item">
            <img
              src="/src/img/icons/Ellipse.svg"
              alt="circle"
              width="5"
              height="5"
            />
            <div class="article__item--text">
              Необходимость в интенсивном поливе только первые четыре года
            </div>
          </div>
          <div class="article__list--item">
            <img
              src="/src/img/icons/Ellipse.svg"
              alt="circle"
              width="5"
              height="5"
            />
            <div class="article__item--text">
              Долгий срок хранения готовой продукции и унификация сушильных
              камер и складов для хранения
            </div>
          </div>
        </div>
        <img
          class="export__sadjenets"
          src="/src/img/newPage-export-2.png"
          alt=""
        />
        <div class="article__title">
          В Украине появится первое насаждение
          <br />
          органического шиповника
        </div>
        <div class="article5">
          Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
          предлагает своим клиентам выгодные условия сотрудничества. Ореховый
          бизнес – один из наиболее перспективных в Украине. Ежегодная нехватка
          продукта в Европе составляет 100 000 тонн. У Вас есть возможность
          зарабатывать десятки тысяч долларов в год всего на нескольких гектарах
          земли.
        </div>
        <div class="article6">
          Нами разработано и опробовано на собственной практике предложение для
          закладки многолетних насаждений шиповника, на земельных участках не
          пригодных к традиционному земледелию. Первых 5 гектар промышленной
          плантации шиповника, были высажены на месте бывшей сельской свалки и
          остатков разрушенной молочно товарной фермы.
        </div>
      </div>
      <div class="export__content--aside">
        <div class="export__aside--title">Последние публикации</div>
        <div class="export__aside--column">
          <div class="export__column--item">
            <img src="/src/img/new-pic (1).png" alt="" />
            <div class="export__content--data">12.04.2019</div>
            <div class="export__content--title">
              Центр поддержки экспорта,<br />
              в студии Павел Тулба
            </div>
            <a class="bigbox__desc--link" href="">
              Читать
              <img
                src="/src/img/icons/arrow-right-main-color.svg"
                alt="arrow"
                width="24"
                height="24"
              />
            </a>
          </div>
          <div class="export__column--item">
            <img src="/src/img/new-pic (2).png" alt="" />
            <div class="export__content--data">12.04.2019</div>
            <div class="export__content--title">
              Центр поддержки экспорта,<br />
              в студии Павел Тулба
            </div>
            <a class="bigbox__desc--link" href="">
              Читать
              <img
                src="/src/img/icons/arrow-right-main-color.svg"
                alt="arrow"
                width="24"
                height="24"
              />
            </a>
          </div>
          <div class="export__column--item">
            <img src="/src/img/new-pic (3).png" alt="" />
            <div class="export__content--data">12.04.2019</div>
            <div class="export__content--title">
              Центр поддержки экспорта,<br />
              в студии Павел Тулба
            </div>
            <a class="bigbox__desc--link" href="">
              Читать
              <img
                src="/src/img/icons/arrow-right-main-color.svg"
                alt="arrow"
                width="24"
                height="24"
              />
            </a>
          </div>
          <div class="export__column--itemgreen">
          <div class="column__item--text">ОРЕХ ПРИЧЕРНОМОРЬЯ</div>
          <div class="column__item--text2">
            Присоединяйтесь к нам в соц. сетях
          </div>
          <ul class="header-top__social-list">
            <li class="header-top__social-item">
              <a href="#">
                <img src="/src/img/icons/facebook.svg" alt="facebook" />
              </a>
            </li>

            <li class="header-top__social-item">
              <a href="#">
                <img src="/src/img/icons/instagram.svg" alt="instagram" />
              </a>
            </li>

            <li class="header-top__social-item">
              <a href="#">
                <img src="/src/img/icons/youtube.svg" alt="youtube" />
              </a>
            </li>
          </ul>
        </div>
        </div>
        
      </div>
    </div>
  </div>
</section>