<section class="eko eko-main">
  <div class="eko__inner">
    <div class="eko__inner__img">
        <img src="/src/img/icons/eco.svg" alt="eko" width="70" height="74">
     
    </div>
    <div class="eko__inner__title">Эко продукция</div>
    <div class="eko__inner__subtitle">
      Выращиваем каждое деревцо с любовью, на экологически чистой земле, без
      использования пестицидов и химии
    </div>
  </div>
</section>


<script src="/src/js/swiper.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>