<section class="filter">
    <div class="container">
        <div class="filter__wrapper">

<div class="filter__start">

            <div class="filter__block filter__block-first">
                <p class="filter__block-title">Фильтр</p>
                <img src="/src/img/icons/settings.svg" alt="settings" width="22" height="22">
            </div>

<div class="filter__select-wrapper">
            <div class="header-top__custom-select filter__custom-select">
                <div class="header-top__select-selected filter__select-selected">Вкус</div>
                <div class="header-top__select-items filter__select-items">
                    <div data-value="nut1" class="filter__select-item">Грецький горіх</div>
                    <div data-value="nut2" class="filter__select-item">Лісовий горіх</div>
                    <div data-value="nut3" class="filter__select-item">Лісовий горіх</div>
                </div>
                <img alt="arrow" src="/src/img/icons/arrow-lang.svg" class="header-top__select-arrow" />
            </div>

            <div class="header-top__custom-select filter__custom-select filter__custom-select-second">
                <div class="header-top__select-selected filter__select-selected filter__select-selected-second">Масса</div>
                <div class="header-top__select-items filter__select-items filter__select-items-second">
                    <div data-value="nut1" class="filter__select-item">10г</div>
                    <div data-value="nut2" class="filter__select-item">100г</div>
                    <div data-value="nut3" class="filter__select-item">1кг</div>
                </div>
                <img alt="arrow" src="/src/img/icons/arrow-lang.svg" class="header-top__select-arrow" />
            </div>

</div>

            <div class="filter__block filter__block-second">
                <p class="filter__block-title filter__block-title-s">Стоимость</p>
                <img src="/src/img/icons/arrow-down.svg" alt="arrow" width="15" height="15">
                <img src="/src/img/icons/arrow-top.svg"  alt="arrow" width="15" height="15">
            </div>

</div>
<div class="filter__end">
            <button class="filter__btn-true main--btn">Применить</button>
            <div class="filter__btn-wrapper">
                <img src="/src/img/icons/cross.svg" alt="cross" width="12" height="12">
                <button class="filter__btn-false">Сбросить</button>
            </div>
</div>
            
        </div>
    </div>
</section>