<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__logo">
            <img
                class="footer__logo--img"
                src="/src/img/footer__logo.avif"
                alt=""
                width="54"
                height="53"
            />
            <div class="footer__logo--title">
                ОРЕХ <br />
                ПРИЧЕРНОМОРЬЯ
            </div>
            </div>
    <div class="footer__menu">
      <ul class="footer__menu--list">
        <li>
          <a class="menu__list--item" href="/Nuts/catalogPage/">Магазин</a>
        </li>
        <li>
          <a class="menu__list--item" href="/Nuts/customersPage">Корпоративным клиентам</a>
        </li>
        <li>
          <a class="menu__list--item" href="/Nuts/paymantPage">Оплата и доставка </a>
        </li>
        <li>
          <a class="menu__list--item" href="/Nuts/aboutPage">О производстве</a>
        </li>
        <li>
          <a class="menu__list--item" href="/Nuts/newsPage">Новости и статьи </a>
        </li>
        <li>
          <a class="menu__list--item" href="/Nuts/galleryPage">Галерея</a> 
        </li>
      </ul>
    </div>
  </div>
    </div>
  
  <div class="footer__line"></div>
  <div class="container">
    <div class="footer__content--bottom">
    <div class="content__top--enter">Разработано AVADA MEDIA</div>
    <div class="content__top--sale">Copyright © 2019. Все права защищены</div>
    <div class="content__top--social">
      <ul class="top__social--items">
        <li class="social__items--icon">
          <a href="#" aria-label="facebook">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="13"
              viewBox="0 0 13 13"
              fill="none"
              >
              <path
                d="M3.42626 6.9238H4.85127V12.7903C4.85127 12.9061 4.94512 13 5.06095 13H7.4771C7.59293 13 7.68678 12.9061 7.68678 12.7903V6.95144H9.32495C9.43146 6.95144 9.52108 6.87151 9.53324 6.7657L9.78204 4.60594C9.78888 4.54652 9.77005 4.48701 9.7303 4.44244C9.6905 4.39782 9.63355 4.37228 9.57379 4.37228H7.68686V3.01843C7.68686 2.61032 7.90661 2.40336 8.34005 2.40336C8.40182 2.40336 9.57379 2.40336 9.57379 2.40336C9.68962 2.40336 9.78347 2.30947 9.78347 2.19369V0.211229C9.78347 0.0954032 9.68962 0.00155161 9.57379 0.00155161H7.87352C7.86153 0.000964516 7.8349 0 7.79564 0C7.50063 0 6.47518 0.0579128 5.66515 0.803106C4.76765 1.6289 4.89241 2.61766 4.92222 2.78909V4.37224H3.42626C3.31043 4.37224 3.21658 4.46609 3.21658 4.58191V6.71408C3.21658 6.82991 3.31043 6.9238 3.42626 6.9238Z"
                fill="#93B474"
              />
            </svg>
          </a>
        </li>
        <li class="social__items--icon">
          <a href="#" aria-label="instagram">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="13"
              viewBox="0 0 13 13"
              fill="none"
            >
              <g clip-path="url(#clip0_9_42)">
                <path
                  d="M9.48744 0H3.51256C1.57574 0 0 1.57574 0 3.51256V9.48744C0 11.4243 1.57574 13 3.51256 13H9.48744C11.4243 13 13 11.4243 13 9.48744V3.51256C13 1.57574 11.4243 0 9.48744 0ZM11.9497 9.48744C11.9497 10.8451 10.8452 11.9497 9.48744 11.9497H3.51256C2.15485 11.9497 1.05026 10.8452 1.05026 9.48744V3.51256C1.05026 2.15485 2.15483 1.05026 3.51256 1.05026H9.48744C10.8451 1.05026 11.9497 2.15483 11.9497 3.51256V9.48744Z"
                  fill="#323232"
                />
                <path
                  d="M9.40942 6.04654C9.317 5.42327 9.03265 4.85838 8.58712 4.41285C8.14159 3.96735 7.5767 3.68297 6.95347 3.59058C6.6697 3.5485 6.382 3.5485 6.09826 3.59058C5.32801 3.70481 4.64838 4.11212 4.18452 4.73752C3.72065 5.36292 3.52807 6.13154 3.6423 6.90174C3.75653 7.67197 4.16385 8.3516 4.78924 8.81548C5.29696 9.19205 5.89897 9.3898 6.51969 9.3898C6.66358 9.3898 6.80851 9.37918 6.95344 9.35768C7.72369 9.24344 8.40332 8.83613 8.86718 8.21073C9.33107 7.58536 9.52366 6.81676 9.40942 6.04654ZM6.79939 8.31877C6.30669 8.39194 5.815 8.26867 5.41492 7.97193C5.01484 7.67519 4.75428 7.2404 4.68123 6.7477C4.60816 6.25499 4.73133 5.7633 5.02807 5.36322C5.32483 4.96314 5.7596 4.70258 6.25233 4.62951C6.34307 4.61605 6.43446 4.60932 6.52584 4.60932C6.61722 4.60932 6.70862 4.61605 6.79937 4.62953C7.61773 4.75088 8.24912 5.38224 8.37049 6.20063C8.52131 7.21773 7.81654 8.16795 6.79939 8.31877Z"
                  fill="#323232"
                />
                <path
                  d="M10.1575 2.84248C10.0597 2.7447 9.92435 2.68866 9.78617 2.68866C9.648 2.68866 9.51264 2.74467 9.41483 2.84248C9.31705 2.94028 9.26102 3.07541 9.26102 3.21381C9.26102 3.35222 9.31705 3.48735 9.41483 3.58515C9.51264 3.68293 9.648 3.73897 9.78617 3.73897C9.92435 3.73897 10.0597 3.68296 10.1575 3.58515C10.2553 3.48735 10.3113 3.35199 10.3113 3.21381C10.3113 3.07561 10.2553 2.94026 10.1575 2.84248Z"
                  fill="#323232"
                />
              </g>
              <defs>
                <clipPath id="clip0_9_42">
                  <rect width="13" height="13" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </li>
        <li class="social__items--icon">
          <a href="#" aria-label="youtube">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              
            >
              <path
                d="M15.3764 12.6635C14.7988 13.35 13.7325 13.6301 11.6961 13.6301H4.30379C2.22075 13.6301 1.13636 13.3319 0.560981 12.601C0 11.8883 0 10.8383 0 9.38496V6.61494C0 3.79941 0.6656 2.36988 4.30379 2.36988H11.6961C13.4621 2.36988 14.4407 2.61701 15.0738 3.22289C15.723 3.84421 16 4.85866 16 6.61494V9.38496C16 10.9176 15.9566 11.9739 15.3764 12.6635ZM10.2721 7.61752L6.91525 5.86315C6.84021 5.82392 6.75814 5.80447 6.67618 5.80447C6.58338 5.80447 6.49079 5.82945 6.40877 5.8791C6.25435 5.97267 6.16005 6.14005 6.16005 6.32059V9.81809C6.16005 9.99832 6.25409 10.1655 6.40821 10.2592C6.56237 10.3528 6.75412 10.3592 6.91406 10.2761L10.2709 8.53303C10.4417 8.44436 10.5489 8.26805 10.5492 8.07569C10.5494 7.88318 10.4426 7.70661 10.2721 7.61752Z"
                fill="#323232"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  
</footer>
