<div class="menu--close"></div>
<header class="header">
   
    <div class="top">
        <div class="container">
            <div class="header-top">
<ul class="header-top__social-list">
    <li class="header-top__social-item">
        <a href="#">
            <img src="/src/img/icons/facebook.svg" alt="facebook">
        </a>
    </li>

    <li class="header-top__social-item">
        <a href="#">
            <img src="/src/img/icons/instagram.svg" alt="instagram">
        </a>
    </li>

    <li class="header-top__social-item">
        <a href="#">
            <img src="/src/img/icons/youtube.svg" alt="youtube">
        </a>
    </li>
</ul>

<a class="header-top__text" href="#">Ваша персональная скидка - 5%</a>

<ul class="header-top__login-list">
    <li class="header-top__login-item">
        <a href="#">
            <img src="/src/img/icons/man-user.svg" alt="men">
            Вход
        </a>
    </li>

    <li class="header-top__login-item">
        <a href="#">
        Регистрация
        </a>
    </li>

    <li class="header-top__login-item header-top__select">
        <div class="header-top__custom-select">
            <div class="header-top__select-selected">Ru</div>
            <div class="header-top__select-items">
                <div data-value="ru">Ru</div>
                <div data-value="uk">Uk</div>
            </div>
            <img src="/src/img/icons/arrow-lang.svg" class="header-top__select-arrow" />
        </div>
    </li>
</ul>
            </div>
    </div>
    </div>

<div class="container">
    <div class="header-main">
        <div class="header-main__wrapper">
            <a href="#" class="header-main__logo-wrapper">
                <img src="/src/img/icons/logo.svg" alt="logo" class="header-main__logo-icon" width="54" height="53">
                ОРЕХ ПРИЧЕРНОМОРЬЯ
            </a>

            <div class="header-main__social-wrapper">
                <ul class="header-main__social-list">
                    <li class="header-main__social-item">
                        <a href="#" class="header-main__social-link">
                            <img src="/src/img/icons/viber.svg" alt="viber" width="16" height="17" class="header-main__social-icon">
                        </a>
                    </li>

                    <li class="header-main__social-item">
                        <a href="#" class="header-main__social-link">
                            <img src="/src/img/icons/telegram.svg" alt="telegram" width="14" height="14" class="header-main__social-icon">
                        </a>
                    </li>

                    <li class="header-main__social-item">
                        <a href="#" class="header-main__social-link">
                            <img src="/src/img/icons/whatsapp.svg" alt="whatsApp" width="15" height="15" class="header-main__social-icon">
                        </a>
                    </li>
                </ul>

                <div class="header-main__tel-wrapper">
                    <a href="tel:380447505011" class="header-main__tel"><span>+38 (044)</span> 750-50-11</a>
                    <a href="tel:380977755051" class="header-main__tel"><span>+38 (097)</span> 775-50-51</a>
                </div>

                <button class="header-main__btn">Заказать звонок</button>
                
                <p class="header-main__text">Ждем Вашего звонка ежедневно с 9 до 18</p>

                <div class="header-main__busket-wrapper">
                    <img src="/src/img/icons/bag.svg" alt="bag">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu__container">
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__close">
                <button class="menu__close-btn">
                    <img src="/src/img/icons/close-button.svg" alt="Close cross" />
                </button>
            </li>
    
            <li class="menu__item active">
                <a href="#" class="menu__link">Магазин</a>
            </li>
    
            <li class="menu__item">
                <a href="#" class="menu__link">О производстве</a>
            </li>
    
            <li class="menu__item">
                <a href="#" class="menu__link">Оплата и доставка</a>
            </li>
    
            <li class="menu__item">
                <a href="#" class="menu__link">Оптовым и корпоративным клиентам</a>
            </li>
    
            <li class="menu__item">
                <a href="#" class="menu__link">Новости и статьи</a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">Контакты</a>
            </li>
    
            
                </ul>
            </li>
        </ul>
    </nav>
    </div>


    <button class="menu__button">
        <span class="menu__line"></span>
        <span class="menu__line"></span>
        <span class="menu__line"></span>
    </button>

    </div>
</header>
