<section class="main-page-number">
    <div class="container">
        <div class="main-page-number__wrapper">
            <ul class="main-page-number__list">
                <li class="main-page-number__item">
                    <div class="main-page-number__item-numb-wrapper">
                    <p class="main-page-number__item-numb">240</p>
                    <span class="main-page-number__item-numb-span">Га</span>
                    </div>
                    <p class="main-page-number__text">Cмешанных
                    садов</p>
                </li>

                <li class="main-page-number__item">
                    <div class="main-page-number__item-numb-wrapper">
                    <p class="main-page-number__item-numb">1</p>
                    <span class="main-page-number__item-numb-span">Га</span>
                    </div>
                    <p class="main-page-number__text">Тепличного
                    комплекса</p>
                </li>

                <li class="main-page-number__item">
                    <div class="main-page-number__item-numb-wrapper">
                    <p class="main-page-number__item-numb">10</p>
                    <span class="main-page-number__item-numb-span">Га</span>
                    </div>

                    <p class="main-page-number__text">Первая промышленная плантация
                    шиповника в Украине</p>
                </li>

                <li class="main-page-number__item">
                    <div class="main-page-number__item-numb-wrapper">
                    <p class="main-page-number__item-numb">80</p>
                    <span class="main-page-number__item-numb-span">%</span>
                    </div>
                    
                    <p class="main-page-number__text">Приживаемости
                    саженцев</p>
                </li>
            </ul>
        </div>
    </div>
</section>