<section class="main-page-baner">
    <div class="main-page-baner__wrapper">
    <h1 class="main-page-baner__title">Орех Причерноморья</h1>
    <p class="main-page-baner__subtitle">Единственный в Украине сад совместного
    выращивание фундука и грецкого ореха</p>
    <button class="main-page-baner__btn open-popup-btn" data-popup="popup1">
        <img src="/src/img/icons/play-icon.svg" alt="play" width="61" height="61">
    </button>
    </div>

    <div id="popup1" class="popup">
        <div class="popup__content">
            <span class="popup__close-btn">&times;</span>
            
            <iframe src="https://www.youtube.com/embed/b7KrUezWzjE"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                class="popup__frame"></iframe>
           
        </div>
    </div>
</section>