<section class="map">
  <div class="container ">
    <div class="map__content">
      <div class="map__content__info">
      <h2 class="map__info-title title">Контакты</h2>
      <div class="map__info__contacts">
        <div class="middle__contacts__social">
          <div class="contacts__social__item">
            <img src="/src/img/icons/viber.svg" alt="viber" width="16" height="17" class="item__img-viber">
            
          </div>
          <div class="contacts__social__item">
            <img src="/src/img/icons/telegram.svg" alt="telegram" width="14" height="14" class="item__img-telegram">
           
          </div>
          <div class="contacts__social__item">
            <img src="/src/img/icons/whatsapp.svg" alt="whatsApp" width="15" height="15" class="item__img-whatsapp">
            
          </div>
        </div>
        <div class="middle__contacts__tel">
          <a class="contacts__tel__number" href="tel:+380957111111">+38 (095)
            711 11 11</a>
          <a class="contacts__tel__number" href="tel:+380957111111">+38 (095)
            711 11 11</a>
        </div>
        <img src="/src/img/icons/telephone.svg" alt="telephone" width="14" height="14" >
        
      </div>
      <div class="map__info__mail">
        <img src="/src/img/icons/mail.svg" alt="mail" width="15" height="15">
        
        <a href="mailto:nuts@nbsc.com.ua">nuts@nbsc.com.ua </a>
      </div>
      <div class="map__info__office">
        <img src="/src/img/icons/location.svg" alt="location" width="16" height="16">
        <div class="info__office__inner">
          <div class="office__inner__name inner-title">Офис и отдел продаж</div>
          <div class="office__inner__address">
            Украина, г. Одесса, ул. Космонавтов, 32
          </div>
        </div>
      </div>
      <div class="map__info__manufactory">
        <img src="/src/img/icons/tree.svg" alt="tree" width="16" height="19">

        <div class="info__manufactory__inner">
          <div class="manufactory__inner__name inner-title">Производство</div>
          <div class="manufactory__inner__adress">
            Украина, Одесская обл,
            <br />
            с. Яськи, ул. Центральная, 232
          </div>
        </div>
      </div>
    </div>

    <div class="map__content__map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8035.823998872902!2d35.05441687688492!3d48.46900182491045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3283af45205%3A0x6a1b9ec2c5948cd4!2zTWNEb25hbGTigJlz!5e0!3m2!1suk!2sua!4v1716295663440!5m2!1suk!2sua" 
      width="739.77" 
      height="518" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade"
      
      title="McDonalds-Dnepr-city">
      
      </iframe>
    </div>
    </div>
    
  </div>
</section>