<section class="news">
  <div class="container">
    <div class="swiper news__swiper">
      <div class="news__title title">Новости</div>
      <div class="news__sub-title sub-title">
        Свежие новости и полезная информация
      </div>
      <div class="swiper-wrapper news__swiper__wrapper">
        <div class="swiper-slide news__swiper__slide">
          <div class="content__smlbox__item">
            <img src="/src/img/pic (1).png" alt="" />
            <div class="content__bigbox__desc">
              <div class="bigbox__desc__data">12.04.2019</div>
              <div class="bigbox__desc__slogan">
                Центр поддержки экспорта, в студии
                <br />
                Павел Тулба
              </div>
              <div class="bigbox__desc__text">
                Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура
                очень недооценена среди наших садоводов, не смотря на большой
                спрос в Европе и отличную...
              </div>
              <a class="bigbox__desc__link" href="/Nuts/newsPage">
                Читать
                <img src="/src/img/icons/arrow-pointing-to-right.svg" alt="arrow" width="24" height="24" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide news__swiper__slide">
          <div class="content__smlbox__item">
            <img src="/src/img/pic (2).png" alt="" />
            <div class="content__bigbox__desc">
              <div class="bigbox__desc__data">12.04.2019</div>
              <div class="bigbox__desc__slogan">
                В Одесской области состоялся масштабный
                <br />
                торгово - экспортный форум
              </div>
              <div class="bigbox__desc__text">
                Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура
                очень недооценена среди наших садоводов, не смотря на большой
                спрос в Европе и отличную...
              </div>
              <a class="bigbox__desc__link" href="/Nuts/newsPage">
                Читать
                <img src="/src/img/icons/arrow-pointing-to-right.svg" alt="arrow" width="24" height="24" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide news__swiper__slide">
          <div class="content__smlbox__item">
            <img src="/src/img/pic (3).png" alt="" />
            <div class="content__bigbox__desc">
              <div class="bigbox__desc__data">12.04.2019</div>
              <div class="bigbox__desc__slogan">
                Сертификация органического
                <br />производителя
              </div>
              <div class="bigbox__desc__text">
                Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура
                очень недооценена среди наших садоводов, не смотря на большой
                спрос в Европе и отличную...
              </div>
              <a class="bigbox__desc__link" href="/Nuts/newsPage">
                Читать
                <img src="/src/img/icons/arrow-pointing-to-right.svg" alt="arrow" width="24" height="24" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide news__swiper__slide">
          <div class="content__smlbox__item">
            <img src="/src/img/pic (1).png" alt="" />
            <div class="content__bigbox__desc">
              <div class="bigbox__desc__data">12.04.2019</div>
              <div class="bigbox__desc__slogan">
                Центр поддержки экспорта, в студии
                <br />
                Павел Тулба
              </div>
              <div class="bigbox__desc__text">
                Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура
                очень недооценена среди наших садоводов, не смотря на большой
                спрос в Европе и отличную...
              </div>
              <a class="bigbox__desc__link" href="/Nuts/newsPage">
                Читать
                <img src="/src/img/icons/arrow-pointing-to-right.svg" alt="arrow" width="24" height="24" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide news__swiper__slide">
          <div class="content__smlbox__item">
            <img src="/src/img/pic (2).png" alt="" />
            <div class="content__bigbox__desc">
              <div class="bigbox__desc__data">12.04.2019</div>
              <div class="bigbox__desc__slogan">
                В Одесской области состоялся масштабный
                <br />
                торгово - экспортный форум
              </div>
              <div class="bigbox__desc__text">
                Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура
                очень недооценена среди наших садоводов, не смотря на большой
                спрос в Европе и отличную...
              </div>
              <a class="bigbox__desc__link" href="/Nuts/newsPage">
                Читать
                <img src="/src/img/icons/arrow-pointing-to-right.svg" alt="arrow" width="24" height="24" />
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide news__swiper__slide">
          <div class="content__smlbox__item">
            <img src="/src/img/pic (3).png" alt="" />
            <div class="content__bigbox__desc">
              <div class="bigbox__desc__data">12.04.2019</div>
              <div class="bigbox__desc__slogan">
                Сертификация органического
                <br />производителя
              </div>
              <div class="bigbox__desc__text">
                Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура
                очень недооценена среди наших садоводов, не смотря на большой
                спрос в Европе и отличную...
              </div>
              <a class="bigbox__desc__link" href="/Nuts/newsPage">
                Читать
                <img src="/src/img/icons/arrow-pointing-to-right.svg" alt="arrow" width="24" height="24" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev news__swiper__btnprev"></div>
      <div class="swiper-button-next news__swiper__btnnext"></div>
    </div>

    <div class="news__button button__white-bg">
      <a href="/Nuts/newsPage">Смотреть все новости </a>
    </div>

  </div>

</section>