<section class="start-content">
    <div class="contact-info__wrapper">
        <div>
            <p class="address-setting__tel-text">Ваш личный менеджер Олег</p>
            <a href="tel:380677771412" class="address-setting__tel">
                <img src="/src/img/icons/telephone.svg" alt="tel" />
                +38 067 777 14 12
            </a>
        </div>

        <p class="start-content__sale">Ваша персональная скидка - 5%</p>
    </div>
</section>


<section class="account-content order-history" id="order-history">
    <div class="contact-info__wrapper">
        <p class="address-setting__tel-text">Ваш личный менеджер Олег</p>
        <a href="tel:380677771412" class="address-setting__tel">
            <img src="/src/img/icons/telephone.svg" alt="tel" />
            +38 067 777 14 12
        </a>

<div class="order-history__container">
<table class="order-history__order-table">
    <thead>
        <tr>
            <th>№ Заказа</th>
            <th>Дата</th>
            <th>Кол-во товаров</th>
            <th>Статус</th>
            <th>Стоимость</th>
            <th>Функции</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>23</td>
            <td>3.05.2019</td>
            <td>13</td>
            <td>Отправлено</td>
            <td>2500 грн.</td>
            <td>
                <span class="order-history__icon icon-eye"></span>
                <span class="order-history__icon icon-copy"></span>
            </td>
        </tr>
        <tr>
            <td>24</td>
            <td>10.05.2019</td>
            <td>15</td>
            <td>В ожидании</td>
            <td>2400 грн.</td>
            <td>
                <span class="order-history__icon icon-eye"></span>
                <span class="order-history__icon icon-copy"></span>
            </td>
        </tr>
    </tbody>
</table>
</div>
    </div>
</section>

<section class="account-content order-transaction" id="order-transaction">
    <div class="contact-info__wrapper">
        <p class="address-setting__tel-text">Ваш личный менеджер Олег</p>
        <a href="tel:380677771412" class="address-setting__tel">
            <img src="/src/img/icons/telephone.svg" alt="tel" />
            +38 067 777 14 12
        </a>

<div class="order-history__container">
        <table class="order-history__order-table order-transaction__order-table">
            <thead>
                <tr>
                    <th>Добавлено</th>
                    <th>Статус</th>
                    <th>Сума</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3.05.2019</td>
                    <td>Платеж принят</td>
                    <td class="order-transaction__icon">2500 грн.
                      <img src="/src/img/icons/icon-eye.svg" class="order-transaction__icon-eye"/>
                    </td>
                </tr>
                <tr>
                    <td>10.05.2019</td>
                    <td>Платеж принят</td>
                    <td class="order-transaction__icon">2500 грн.
                      <img src="/src/img/icons/icon-eye.svg" class="order-transaction__icon-eye" />
                    </td>
                </tr>
            </tbody>
        </table>
</div>

<p class="order-transaction__text">У вас не было транзакций!</p>
    </div>
</section>

<section class="account-content address-setting" id="address-setting">
  <div class="address-setting__wrapper">
    <div class="address-setting__form">
      <p class="address-setting__tel-text">Ваш личный менеджер Олег</p>
      <a href="tel:380677771412" class="address-setting__tel">
        <img src="/src/img/icons/telephone.svg" alt="tel" />
        +38 067 777 14 12
      </a>

      <form action="address">
        <h4 class="registration__subtitle registration__subtitle-sec">1.
          Реквизиты</h4>

        <div
          class="registration__form-group form-group registration__form-group-sec"
        >
          <input type="okp" id="okp" name="okp" placeholder="ОКПО" />
        </div>

        <h4 class="registration__subtitle address-setting__subtitle-form">2. Адрес</h4>

        <div class="registration__form-container">

          <div class="select">
            <div class="header-top__custom-select filter__custom-select address-setting__select">
              <div
                class="header-top__select-selected filter__select-selected"
              >Страна</div>
              <div class="header-top__select-items filter__select-items">
                <div data-value="nut1" class="filter__select-item">Україна</div>
                <div data-value="nut2" class="filter__select-item">Польща</div>
                <div data-value="nut3" class="filter__select-item">Франція</div>
              </div>
              <img
                src="/src/img/icons/arrow-lang.svg"
                class="header-top__select-arrow"
              />
            </div>
          </div>

          <div class="select">
            <div
              class="header-top__custom-select filter__custom-select address-setting__select"
            >
              <div
                class="header-top__select-selected filter__select-selected filter__select-selected-second"
              >
                Область
              </div>
              <div
                class="header-top__select-items filter__select-items filter__select-items-second"
              >
                <div data-value="nut1" class="filter__select-item">Одеська</div>
                <div
                  data-value="nut2"
                  class="filter__select-item"
                >Київська</div>
                <div
                  data-value="nut3"
                  class="filter__select-item"
                >Львівська</div>
              </div>
              <img
                src="/src/img/icons/arrow-lang.svg"
                class="header-top__select-arrow"
              />
            </div>
          </div>

          <div class="registration__form-group form-group">
            <input
              type="city"
              id="city"
              name="city"
              placeholder="Город*"
              required
            />
          </div>
          <div class="registration__form-group form-group">
            <input
              type="address"
              id="address"
              name="address"
              placeholder="Адрес"
            />
          </div>

          <h4 class="registration__subtitle address-setting__subtitle-form">3. Юридический адрес</h4>

          <div class="registration__form-container">

            <div class="select">
              <div class="header-top__custom-select filter__custom-select address-setting__select">
                <div
                  class="header-top__select-selected filter__select-selected"
                >Страна</div>
                <div class="header-top__select-items filter__select-items">
                  <div
                    data-value="nut1"
                    class="filter__select-item"
                  >Україна</div>
                  <div
                    data-value="nut2"
                    class="filter__select-item"
                  >Польща</div>
                  <div
                    data-value="nut3"
                    class="filter__select-item"
                  >Франція</div>
                </div>
                <img
                  src="/src/img/icons/arrow-lang.svg"
                  class="header-top__select-arrow"
                />
              </div>
            </div>

            <div class="select">
              <div
                class="header-top__custom-select filter__custom-select address-setting__select"
              >
                <div
                  class="header-top__select-selected filter__select-selected filter__select-selected-second"
                >Область
                </div>
                <div
                  class="header-top__select-items filter__select-items filter__select-items-second"
                >
                  <div
                    data-value="nut1"
                    class="filter__select-item"
                  >Одеська</div>
                  <div
                    data-value="nut2"
                    class="filter__select-item"
                  >Київська</div>
                  <div
                    data-value="nut3"
                    class="filter__select-item"
                  >Львівська</div>
                </div>
                <img
                  src="/src/img/icons/arrow-lang.svg"
                  class="header-top__select-arrow"
                />
              </div>
            </div>

            <div class="registration__form-group form-group">
              <input
                type="city"
                id="city"
                name="city"
                placeholder="Город*"
                required
              />
            </div>
            <div class="registration__form-group form-group">
              <input
                type="address"
                id="address"
                name="address"
                placeholder="Адрес"
              />
            </div>
            <div class="registration__form-group form-group">
              <input
                type="index"
                id="index"
                name="index"
                placeholder="Индекс"
              />
            </div>

          </div>
        </div>

        <div class="address-setting__submit-button-wrapper">
        <button
          type="submit"
          class="address-setting__submit-button main--btn"
        >Сохранить</button>
        </div>
      </form>
    </div>

    <div class="address-setting__pic">

      <img src="/src/img/pic.jpg" alt="pic" />

<div class="address-setting__pic-title-wrapper">
      <h3 class="address-setting__pic-title title">Орех Причерноморья</h3>
      <p class="address-setting__pic-subtitle sub-title">Единственный в Украине сад
        совместного выращивания фундука и грецкого ореха</p>
</div>
    </div>

  </div>

</section>


<section class="account-content contact-info" id="contact-info">
    <div class="contact-info__wrapper">
        <p class="address-setting__tel-text">Ваш личный менеджер Олег</p>
        <a href="tel:380677771412" class="address-setting__tel">
            <img src="/src/img/icons/telephone.svg" alt="tel" />
            +38 067 777 14 12
        </a>

        <div class="contact-info__form">
            <form action="contact-info" class="contact-info__form-wrapper">
                <div class="registration__form-group form-group">
                    <input type="company" id="company" name="company" placeholder="Компания*" required />
                </div>

                <div class="registration__form-group form-group">
                    <input type="cont-person" id="cont-person" name="cont-person" placeholder="Контактное лицо*" />
                </div>

                <div class="registration__form-group form-group">
                    <input type="email" id="email" name="email" placeholder="Email*" required />
                </div>

                <div class="registration__form-group form-group">
                    <input type="phone-numb" id="phone-numb" name="phone-numb" placeholder="Телефон*" required />
                </div>

                <button type="submit" class="address-setting__submit-button main--btn">Сохранить</button>
                
            </form>
            <div class="contact-info__upload">
                <div class="upload__container" onclick="document.getElementById('fileInput').click();">
                    <div class="upload__text">Загрузить фото</div>
                    <img id="uploadedImage" src="/src/img/load-man.jpg" alt="Uploaded Image">
                    <input type="file" id="fileInput" accept="image/*" onchange="loadFile(event)">
                </div>
            </div>
        </div>
    </div>
</section>