<nav aria-label="breadcrumb">
    <div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{firstPageLink}}">{{firstPage}}</a></li>
        <li class="breadcrumb-item inactive" ><a href="{{secondPageLink}}">{{secondPage}}</a></li>
    </ol>
    </div>
</nav>