<section class="card-product-info">
    <div class="container">
        <div class="card-product-info__wrapper">
            <div class="swiper-container swiper-container-product card-product-info__swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/src/img/card-nut.jpg" width="153" height="431" alt="Image 1"
                            class="productMPfirst" />
                    </div>
                    <div class="swiper-slide"><img src="/src/img/card-nut.jpg" width="153" height="431" alt="Image 2"
                            class="productMPfirst" />
                    </div>
                    <div class="swiper-slide"><img src="/src/img/card-nut.jpg" width="153" height="431
                    " alt="Image 3"
                            class="productMPfirst" />
                    </div>
                </div>
            
                <div class="swiper-button-next card-product-info__swiper-button-next"><img src="/src/img/icons/right-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
            
                <div class="card-product-info__swiper-button-zoom open-popup-btn" data-popup="popupProduct"><img
                        src="/src/img/icons/zoom.svg" alt="zoom" width="55" height="55"
                        class="main-page-product__swiper-button-zoom-icon" /></div>
            
                <div class="swiper-button-prev card-product-info__swiper-button-prev"><img src="/src/img/icons/left-arrow.svg"
                        alt="arrow" width="23" height="23" class="main-page-product__btn-arrow" /></div>
            
            </div>

            <div class="card-product-info__wrapper-info">
                <div class="card-product-info__top">
                    <p class="card-product-info__top-text">Грецкий орех</p>
                    <p class="card-product-info__top-art main-page-product__item-info-art">Арт: 0091</p>
                </div>

                <h2 class="card-product-info__title">Орех соленый кондитерский очищенный</h2>

                <div class="card-product-info__middle">
                    <p class="card-product-info__middle-title">Состав:</p>
                    <p class="card-product-info__subtitle">Ядро грецкого ореха, вымытого очищенного от кожуры, соль экстра (раствор 7%)</p>

                    <p class="card-product-info__middle-title">Масса нетто:</p>
                    <p class="card-product-info__subtitle">40г.</p>

                    <p class="card-product-info__middle-title">Энергетическая ценность:</p>
                    <p class="card-product-info__subtitle">654 Ккал.</p>

                    <p class="card-product-info__middle-title">Срок годности:</p>
                    <p class="card-product-info__subtitle">12 месяцев, с даты расфасовки (указана на упаковке)</p>
                </div>

                <div class="card-product-info__warning">
                    <img src="/src/img/icons/warning-sigh.svg" alt="warning">
                    <p class="card-product-info__warning-text">Хранить в помещениях, защищенных от попадания прямых,
                    солнечных лучей, при температуре от +3 °C до +20 °C, и относительной
                    влажности воздуха не более 75 %</p>
                </div>

                <div class="main-page-product__item-price-wrapper">
                    <p class="main-page-product__item-price">Ваша цена: <span class="main-page-product__item-price-sale">19 грн</span><span
                            class="main-page-product__item-price-old"> 21 грн</span></p>
                            <div class="card-product-info__btn-wrapper">
                    <a href="/cardProductPage/index.html" class="card-product-info__btn main--btn">Заказать</a>
                            </div>
                </div>
            </div>
        </div>


    </div>
</section>