<section class="password">
    <div class="login__wrapper">
        <h2 class="login__title auth-title">Пароль</h2>

        <form>
            <div class="registration__form-group form-group">
                <input id="current-password" name="current-password" placeholder="Текущий пароль*" required>
            </div>
            <div class="registration__form-group form-group">
                <input id="new-password" name="new-password" placeholder="Новый пароль*" required>
            </div>

            <div class="registration__form-group form-group">
                <input id="ag-password" name="ag-password" placeholder="Подтвердить пароль*" required>
            </div>

            <button type="submit" class="login__submit-button main--btn">Продолжить</button>



        </form>


    </div>
</section>