<section class="reset-password">
    <div class="container">
        <div class="reset-password__wrapper">
            <h2 class="reset-password__title auth-title">Восстановление пароля</h2>

            <div class="reset-password__block">
                <div class="reset-password__subtitle-wrapper">
                    <img src="/src/img/icons/knock.svg" alt="knock">
                    <h3 class="reset-password__subtitle">Забыли пароль?</h3>
                </div>   
                    
                    <p class="reset-password__text">Введите Email Вашего аккаунта, Вам будет выслана
                    ссылка для восстановления пароля.</p>
                    <form action="reset-password">
                        <div class="registration__form-group form-group">
                            <input type="email" id="email" name="email" placeholder="Email" required>
                        </div>
                   
                <div class="reset-password__btn-wrapper">
                    <button type="submit" class="reset-password__submit-button main--btn">Отправить ссылку</button>
                </div>
                    </form>


                
            </div>

            <div class="reset-password__block reset-password__block-sec">
                <div class="reset-password__subtitle-wrapper">
                    <img src="/src/img/icons/knock.svg" alt="knock">
                    <h3 class="reset-password__subtitle">Восстановление пароля</h3>
                </div> 
                    
                    <p class="reset-password__text">Введите новый пароль для Email <span>example@gmail.com</span></p>
                    <form action="reset-password">
                        <div class="registration__form-group form-group">
                            <input type="password" id="password" name="password" placeholder="Новий пароль*" required>
                        </div>
                        <div class="registration__form-group form-group">
                            <input type="password-rep" id="password-rep" name="password-rep" placeholder="Подтвердите новий пароль*" required>
                        </div>
            
                        <div class="reset-password__btn-wrapper reset-password__btn-wrapper-sec">
                            <a href="/Nuts/password/" class="reset-password__submit-button reset-password__submit-button-sec main--btn">Сменить пароль</a>
                        </div>
                    </form>
            
                
            </div>
        </div>
    </div>
</section>