<section class="sidebar">
    <div class="sidebar__wrapper">
        <h2 class="sidebar__title auth-title">Учетная запись</h2>

        <p class="sidebar__subtitle">Мои заказы</p>
        <button class="sidebar__item">История заказов</button>
        <button class="sidebar__item">История транзакций</button>

        <p class="sidebar__subtitle"></p>
        <button class="sidebar__item"></button>
        <button class="sidebar__item"></button>
        <button class="sidebar__item"></button>
    </div>
</section>