<section class="about-page-gallery">
    <div class="about-page-gallery__b">
        <div class="container">
   
      <ul class="about-page-gallery__list">
        <li class="about-page-gallery__item about-page-gallery__item--first">
            <img src="/src/img/gallery-first.jpg" alt="gallery" class="about-page-gallery__img">
            <div class="about-page-gallery__item-content">
            <h3 class="about-page-gallery__item-title">SIAL Paris 2018</h3>
            <p class="about-page-gallery__item-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали
            на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></p>
            </div>
        </li>

        <li class="about-page-gallery__item about-page-gallery__item--second">
            <img src="/src/img/gallery-second.jpg" alt="gallery" class="about-page-gallery__img">
            <div class="about-page-gallery__item-content">
                <h3 class="about-page-gallery__item-title">SIAL Paris 2018</h3>
                <p class="about-page-gallery__item-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и
                    финансировании правительства Швеции, мы побывали
                    на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></p>
            </div>
        </li>

        <li class="about-page-gallery__item about-page-gallery__item--third open-popup-btn" data-popup="popup1">
            <img src="/src/img/gallery-third.jpg" alt="gallery" class="about-page-gallery__img">
            <img src="/src/img/icons/play-icon.svg" alt="play" class="about-page-gallery__item-play open-popup-btn" data-popup="popup1">

        </li>

        <li class="about-page-gallery__item about-page-gallery__item--forth">
            <img src="/src/img/gallery-forth.jpg" alt="gallery" class="about-page-gallery__img">
            <div class="about-page-gallery__item-content">
                <h3 class="about-page-gallery__item-title">SIAL Paris 2018</h3>
                <p class="about-page-gallery__item-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и
                    финансировании правительства Швеции, мы побывали
                    на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></p>
            </div>
        </li>

        <li class="about-page-gallery__item about-page-gallery__item-fifth">
            <img src="/src/img/gallery-fifth.jpg" alt="gallery" class="about-page-gallery__img">
            <div class="about-page-gallery__item-content">
                <h3 class="about-page-gallery__item-title">SIAL Paris 2018</h3>
                <p class="about-page-gallery__item-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и
                    финансировании правительства Швеции, мы побывали
                    на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></p>
            </div>
        </li>

        <li class="about-page-gallery__item about-page-gallery__item--sixth open-popup-btn" data-popup="popup1">
            <img src="/src/img/gallery-sixth.jpg" alt="gallery" class="about-page-gallery__img">
            <img src="/src/img/icons/play-icon.svg" alt="play" class="about-page-gallery__item-play open-popup-btn" data-popup="popup1">
        </li>

        <li class="about-page-gallery__item about-page-gallery__item--second">
            <img src="/src/img/gallery-second.jpg" alt="gallery" class="about-page-gallery__img">
            <div class="about-page-gallery__item-content">
                <h3 class="about-page-gallery__item-title">SIAL Paris 2018</h3>
                <p class="about-page-gallery__item-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и
                    финансировании правительства Швеции, мы побывали
                    на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></p>
            </div>
        </li>

        <li class="about-page-gallery__item about-page-gallery__item--first">
            <img src="/src/img/gallery-first.jpg" alt="gallery" class="about-page-gallery__img">
            <div class="about-page-gallery__item-content">
            <h3 class="about-page-gallery__item-title">SIAL Paris 2018</h3>
            <p class="about-page-gallery__item-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали
            на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></p>
            </div>
        </li>

        <li class="about-page-gallery__item about-page-gallery__item--third open-popup-btn" data-popup="popup1">
            <img src="/src/img/gallery-third.jpg" alt="gallery" class="about-page-gallery__img">
            <img src="/src/img/icons/play-icon.svg" alt="play" class="about-page-gallery__item-play open-popup-btn" data-popup="popup1">

        </li>

        <li class="about-page-gallery__item about-page-gallery__item--forth">
            <img src="/src/img/gallery-forth.jpg" alt="gallery" class="about-page-gallery__img">
            <div class="about-page-gallery__item-content">
                <h3 class="about-page-gallery__item-title">SIAL Paris 2018</h3>
                <p class="about-page-gallery__item-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и
                    финансировании правительства Швеции, мы побывали
                    на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></p>
            </div>
        </li>

        <li class="about-page-gallery__item about-page-gallery__item-fifth">
            <img src="/src/img/gallery-fifth.jpg" alt="gallery" class="about-page-gallery__img">
            <div class="about-page-gallery__item-content">
                <h3 class="about-page-gallery__item-title">SIAL Paris 2018</h3>
                <p class="about-page-gallery__item-subtitle">В этом Году при поддержке проекта International Trade Centre Ukraine, и
                    финансировании правительства Швеции, мы побывали
                    на крупнейшей продовольственной выставке Европы <span>SIAL Paris 2018</span></p>
            </div>
        </li>

        <li class="about-page-gallery__item about-page-gallery__item--sixth open-popup-btn" data-popup="popup1">
            <img src="/src/img/gallery-sixth.jpg" alt="gallery" class="about-page-gallery__img">
            <img src="/src/img/icons/play-icon.svg" alt="play" class="about-page-gallery__item-play open-popup-btn" data-popup="popup1">
        </li>
      </ul>

    <a href="#" class="about-page-gallery__btn button__white-bg">Посмотреть еще</a>
        </div>
    </div>
</section>