<section class="news-page-banner">
  <div class="container">

    <div class="page__navigation">
      <div class="news__main-links">
        <a href="/index.html" class="main-link">Главная</a>

        <img
          src="/src/img/icons/right-arrow.svg"
          alt="white-arrow"
          width="12"
          height="12"
        />

        <a href="/newsPage/" class="swiper__link">Новости и статьи </a>
      </div>
    </div>
    <div class="news__headline">
      <div class="news__headline__title title">Новости и статьи</div>
      <div class="news__headline__sub-title sub-title">
        Свежие новости и полезная информация
      </div>
    </div>
    <div class="news__content">
      <div class="news__content-banner">
        <img src="/src/img/newsPageBanner.png" alt="" class="banner__img"/>
        <div class="content__banner-desc">
          <div class="banner__desc-data">12.04.2019</div>
          <div class="banner__desc-slogan">
            Центр поддержки экспорта, в студии Павел Тулба
          </div>
          <div class="banner__desc-excerpt">
            Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
            предлагает своим клиентам выгодные условия сотрудничества.
          </div>
          <div class="banner__desc-text">
            Ореховый бизнес – один из наиболее перспективных в Украине.
            Ежегодная нехватка продукта в Европе составляет 100 000 тонн. У Вас
            есть возможность зарабатывать десятки тысяч долларов в год всего на
            нескольких гектарах земли.
          </div>
          <a class="banner__desc-link" href="/Nuts/newPage">
            Читать
            <img
              src="/src/img/icons/arrow-right-main-color.svg"
              alt="arrow-right-main-color"
              width="24"
              height="24"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>