<section class="news-page-news">
  <div class="container">
    <div class="news__content">
      <div class="news__content-smlbox">
        <div class="content__smlbox-item">
          <img src="/src/img/pic (1).png" alt="" />
          <div class="content__page-news-desc">
            <div class="page-news__desc-data">12.04.2019</div>
            <div class="page-news__desc-slogan">
              Центр поддержки экспорта,
              <br />
              в студии Павел Тулба
            </div>
            <div class="page-news__desc-text">
              Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень
              недооценена среди наших садоводов, не смотря на большой спрос в
              Европе и отличную...
            </div>
            <a class="page-news__desc-link" href="">
              Читать
              <img
                src="/src/img/icons/arrow-pointing-to-right.svg"
                alt="arrow"
                width="24"
                height="24"
              />
            </a>
          </div>
        </div>
        <div class="content__smlbox-item">
          <img src="/src/img/pic (2).png" alt="" />
          <div class="content__page-news-desc">
            <div class="page-news__desc-data">12.04.2019</div>
            <div class="page-news__desc-slogan">
              В Одесской области состоялся масштабный
              <br />
              торгово - экспортный форум
            </div>
            <div class="page-news__desc-text">
              Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень
              недооценена среди наших садоводов, не смотря на большой спрос в
              Европе и отличную...
            </div>
            <a class="page-news__desc-link" href="">
              Читать
              <img
                src="/src/img/icons/arrow-pointing-to-right.svg"
                alt="arrow"
                width="24"
                height="24"
              />
            </a>
          </div>
        </div>
        <div class="content__smlbox-item">
          <img src="/src/img/pic (3).png" alt="" />
          <div class="content__page-news-desc">
            <div class="page-news__desc-data">12.04.2019</div>
            <div class="page-news__desc-slogan">
              Сертификация органического
              <br />производителя
            </div>
            <div class="page-news__desc-text">
              Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень
              недооценена среди наших садоводов, не смотря на большой спрос в
              Европе и отличную...
            </div>
            <a class="page-news__desc-link" href="">
              Читать
              <img
                src="/src/img/icons/arrow-pointing-to-right.svg"
                alt="arrow"
                width="24"
                height="24"
              />
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>