<section class="news-page-video {{additionalClass}} ">
  <div class="container">
    <div class="news-video__content">
      <div class="news-page-video__wrapper">
        <button class="news-page-video__btn open-popup-btn" data-popup="popup1">
          <img
            src="/src/img/icons/play-icon.svg"
            alt="play"
            width="61"
            height="61"
          />
        </button>
        <h1 class="news-page-video__title">Проект UBHDP </h1>
        <p class="news-page-video__subtitle">Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и проекту <span>UBHDP</span>  за возможность получить консультацию от мировых специалистов!</p>

      </div>
    </div>
       <div class="news__page__video__button button__white-bg">
      <a href="#">Посмотреть еще </a>
    </div>
  </div>

  <div id="popup1" class="popup">
    <div class="popup__content">
      <span class="popup__close-btn button__white-bg">&times;</span>

      <iframe
        src="https://www.youtube.com/embed/b7KrUezWzjE"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="popup__frame"
      ></iframe>

    </div>
  </div>
</section>