@import './src/scss/vars.scss';
@import 'fonts.scss';

body,
html {
	margin: 0;
	padding: 0;
}

.wrapper{
	overflow: hidden;
	font-family: $fontFamilyBase;
	font-weight: $fontWeightBase;
	font-size: $fontSizeBase;
	background: $background-color;
	color: $blue-whale-color;
}

.container{
	margin: 0 auto;
	max-width: $maxWidthContainer;
	padding:0 15px;
	
}

