.title{
    font-family:$fontFamilyRaleway;
    font-size: 45px;
    font-weight: 800;
            
}

.sub-title{
    font-family:$fontFamilyRaleway;
    font-size: 18px;
    line-height: 22px;

}

.auth-title {
    font-family: $fontFamilyRaleway;
        font-size: 32px;
        font-weight: 800;

        @include respond-to($s-mobile) {
              
                    font-size: 26px;  
            }
}

.button__white-bg{
    width: 225px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:$amazon-color;
    font-family: $fontFamilyRaleway;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    border: 1.5px solid $amazon-color;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0 auto;
    align-self: center;

    &:hover{
        background-color: $amazon-color;
        color: $main-color;
    }
}

.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    &__content {
        background-color: #fefefe;
        margin: 5% auto;
        height: 80%;
        border: 1px solid rgb(0, 0, 0);
        width: 40%;
        position: relative;
    }

    &__close-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        right: 10px;
        transition: color .3s ease;
        z-index: 100;
    }

    &__close-btn:hover,
    &__close-btn:focus {
        color:gray;
        text-decoration: none;
        cursor: pointer;
    }

    iframe,
    object,
    embed {

        width: 100%;
        height: 100%;
        border: none;
    }

    @include respond-to($m-desktop) {
        &__content {

            height: 80%;

            width: 60% !important;
            position: relative;
        }
    }

        @include respond-to($l-mobile) {
            &__content {
    
                height: 40%;
    
                width: 70% !important;
                position: relative;
            }
        }
}

.main--btn {
    
     background: $amazon-color;
     color: $main-color;
     font-family: $fontFamilyRaleway;
     font-size: 13px;
     border: 1px solid $amazon-color;


     &:hover {
         background: $main-color;
         color: $amazon-color;
     }
 }

 ////input
 
 .form {
    &-group input::placeholder {
            font-size: 14px;
            color: $blue-whale-color;
            font-weight: 600;
        }
    
        &-group input {
            background-color: white;
            font-family: $fontFamilyRaleway;
            padding: 16px 17px;
            font-size: 14px;
            cursor: pointer;
            border: 1px solid #ccc;
        }

        
    
        &-group input:focus {
    
    
            border: 1px solid $olivine-color;
            outline: none;
        }
    
        &-group input:hover {
            background-color: rgba(51, 125, 90, 0.1);
    
            border: 1px solid $olivine-color;
    
        }
 }

 ///// checkbox

 .checkbox {
    &__group {
     display: flex;
     align-items: center;
 }

 &__group input[type="checkbox"] {
     margin-right: 10px;
 }

 &__group {
     font-size: 13px;
     color: rgba(138, 138, 138, 1);
     margin-bottom: 30px;
 }

 &__group a {
     color: #006400;
     text-decoration: none;
     margin-left: 5px;
 }

 &__group a:hover {
     text-decoration: underline;
 }

 &__group input {
     display: none;
 }

 &__group span {

     height: 14px;
     width: 14px;
     border: 1px solid $amazon-color;
     display: inline-block;
     position: relative;
     background-color: #FFF;
     border-radius: 2px;
     padding: 3px;
     margin-right: 5px;
 }

 
 }

 [type=checkbox]:checked+span:before {
     content: '';
     position: absolute;
     background-color: $amazon-color;
     width: 8px;
     height: 8px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #FFF;
 }