$fontFamilyBase: "Montserrat", sans-serif;
$fontFamilyRaleway: "Raleway", sans-serif;
$fontFamilyRoboto: "Roboto", sans-serif;
$fontWeightBase: 500;
$fontSizeBase: 14px;
$main-color: #FFFFFF;
$dark-color: #000000;


// Color palette
$amazon-color: #337D5A;
$olivine-color:#93B474;
$blue-whale-color:#1A2F3F;
$gray-color:#8A8A8A;


$background-color: #FFFFFF;





// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1320px;
// Общий отступ у контейнера   
//left 300+ 15 padding
//right 300+ 15 padding
// margin (left-right )300px 
// padding 0 15px