$fontFamilyBase: "Montserrat", sans-serif;
$fontFamilyRaleway: "Raleway", sans-serif;
$fontFamilyRoboto: "Roboto", sans-serif;
$fontWeightBase: 500;
$fontSizeBase: 14px;
$main-color: #FFFFFF;
$dark-color: #000000;


// Color palette
$amazon-color: #337D5A;
$olivine-color:#93B474;
$blue-whale-color:#1A2F3F;
$gray-color:#8A8A8A;


$background-color: #FFFFFF;


$mobile: 359px;
$s-mobile: 425px;
$m-mobile: 560px;
$l-mobile: 630px;
$s-tablet: 695px;
$m-tablet: 730px;
$l-tablet: 767px;
$tablet: 768px;
$xl-tablet: 920px;
$desktop: 992px;
$m-desktop: 1090px;
$l-desktop: 1290px;
$LapTop: 1440px;
$xl-LapTop: 1718px;
$xxl-LapTop: 1800px;


@mixin respond-to($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content;
    }
}


///////приклад використання
/// @include respond-to($xxl-LapTop) { }


// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1320px;
// Общий отступ у контейнера   
//left 300+ 15 padding
//right 300+ 15 padding
// margin (left-right )300px 
// padding 0 15px