<section class="basket">
  <div class="container">
    <div class="basket__main--links">
      <a href="index.html" class="basket__link">Главная </a>
      <img
        src="/src/img/icons/right-arrow-white.svg"
        alt=""
        width="12"
        height="12"
      />
      <a href="#" class="basket__link">Корзина </a>
    </div>
    <div class="avatar__headline">
      <div class="avatar__headline--title">Корзина</div>
      <div class="avatar__headline--manager">
        <div class="avatar__manager--name">
          Ваш личный менеджер Олег
        </div>
        <div class="avatar__manager--number">
          <img
            src="/src/img/icons/telephone.svg"
            alt="telephone"
            width="12"
            height="12"
          />
          +38 067 777 14 12
        </div>
      </div>
    </div>

    <div class="basket__header">
      <div class="basket__header__item">
        Товар
          <img
            src="/src/img/icons/arrow-lang.svg"
            alt="arrow-down"
            class="basket__line__item-arrow"
            width="10"
            height="8"
          />
      </div>
      <div class="basket__header__item">
        Кол - во
            <img
              src="/src/img/icons/basket__arrow-down.svg"
              class="basket__line__item-arrow"
              alt="arrow-down"
              width="10"
              height="8"
            />
      </div>
      <div class="basket__header__item">
        Цена за товар
            <img
              src="/src/img/icons/basket__arrow-down.svg"
              class="basket__line__item-arrow"
              alt="arrow-down"
              width="10"
              height="8"
            />
      </div>
      <div class="basket__header__item">
        Итоговая стоимость
            <img
              src="/src/img/icons/basket__arrow-down.svg"
              class="basket__header__item--arrow"
              alt="arrow-down"
              width="10"
              height="8"
            />
      </div>
    </div>

    <div class="basket__item">
      <div class="basket__item-product">
        Орех соленый 80г.
      </div>
      <div class="number-box">
              <button id="prev-button">
                <img src="/src/img/icons/cart-arrow-left.svg" alt="arrow-left" width="8" height="10">
              </button>
              <div id="number">4</div>
              <button id="next-button">
                <img src="/src/img/icons/cart-arrow-right.svg" alt="arrow-left" width="8" height="10">
              </button>
            </div>
      <div class="basket__price">25 грн.</div>
      <div class="basket__total">100 грн.</div>
    </div>

    <div class="basket__item">
      <div class="basket__item-product">
        Орех соленый 80г.
      </div>
      <div class="number-box">
              <button id="prev-button">
                <img src="/src/img/icons/cart-arrow-left.svg" alt="arrow-left" width="8" height="10">
              </button>
              <div id="number">1</div>
              <button id="next-button">
                <img src="/src/img/icons/cart-arrow-right.svg" alt="arrow-left" width="8" height="10">
              </button>
            </div>
      <div class="basket__price">25 грн.</div>
      <div class="basket__total">25 грн.</div>
    </div>
    <div class="basket__item">
      <div class="basket__item-product">
        Орех соленый 80г.
      </div>
      <div class="number-box">
              <button id="prev-button">
                <img src="/src/img/icons/cart-arrow-left.svg" alt="arrow-left" width="8" height="10">
              </button>
              <div id="number">1</div>
              <button id="next-button">
                <img src="/src/img/icons/cart-arrow-right.svg" alt="arrow-left" width="8" height="10">
              </button>
            </div>
      <div class="basket__price">25 грн.</div>
      <div class="basket__total">25 грн.</div>
    </div>

    <div class="basket__item">
      <div class="basket__item-product">
        Орех соленый 80г.
      </div>
      <div class="number-box">
              <button id="prev-button">
                <img src="/src/img/icons/cart-arrow-left.svg" alt="arrow-left" width="8" height="10">
              </button>
              <div id="number">1</div>
              <button id="next-button">
                <img src="/src/img/icons/cart-arrow-right.svg" alt="arrow-left" width="8" height="10">
              </button>
            </div>
      <div class="basket__price">25 грн.</div>
      <div class="basket__total">25 грн.</div>
    </div>

    <div class="basket__bnt">
      <button class="continue">
        <img src="/src/img/icons/arrow-left-green-bg.svg" alt="arrow-left-green" width="14"
          height="14">
        
        Продолжить покупки
      </button>
      <div class="make__order">
        <div class="make__order--price">
          <div class="make__price--text">Всего</div>
          <div class="make__price--price">
            <div class="make__price--nubmer">175</div>
            <div class="make__price--text">грн.</div>
          </div>
        </div>
        <button class="make__order--btn">
          <a href="chekout.html">Оформить заказ</a>
        </button>
      </div>
    </div>
    <div class="basket__slogan">Для оформления заказа необходимо</div>
    <div class="basket__link">
      <a class="basket__link--item" href="#">Авторизоваться</a>
      <span class="or">или </span>
      <a
        class="basket__link--item"
        href="#"
      >Зарегистрироваться</a>
    </div>


  </div>
</section>