<section class="about-page-history">
  <div class="about-page-history-w">
    <div class="container">
      <div class="about-page-history__wrapper">
        <img
          src="/src/img/about-page-man.jpg"
          alt="man"
          class="about-page-history__photo"
          height="493"
          width="342"
          loading="lazy"
        />

        <div class="about-page-history__content">
          <h2 class="about-page-history__name">Павел Тулба</h2>
          <p class="about-page-history__text">Учередитель и владелец предприятия
            “Орех Причерноморья”</p>
          <div class="about-page-history__quote-wrapper">
            <img
              src="/src/img/icons/qout.svg"
              alt="qoute"
              width="26"
              height="26"
              loading="lazy"
            />
            <p class="about-page-history__quote">Главная наша цель – получить
              максимальную прибыль с одного гектара.</p>
          </div>

          <button class="about-page-history__btn button__white-bg">Написать нам</button>
        </div>

        <div class="about-page-history__block">
          <h2 class="about-page-history__block-title">История предприятия</h2>
          <p
            class="about-page-history__block-text-first about-page-history__block-text"
          >Наше предприятие основано в 2012 году для закладки смешанного сада
            грецкого ореха и фундука.</p>
          <p
            class="about-page-history__block-text-second about-page-history__block-text"
          >На сегодня мы уже заложили более 100 гектаров сада и продолжаем
            расширять свои насаждения. Кроме выращивания грецкого ореха и
            фундука, мы занимаемся выращиванием саженцев, разведением и
            выращиванием овец, а также являемся первой в Украине компанией,
            приступившей к промышленному выращиванию трюфелей на корнях фундука.</p>
          <p
            class="about-page-history__block-text-third about-page-history__block-text"
          >Земля, которой пользуется кооператив, является собственностью членов
            нашего кооператива.</p>
          <img
            src="/src/img/icons/vector-logo.svg"
            alt="logo"
            width="322"
            height="299"
            loading="lazy"
          />
        </div>

      </div>
    </div>
  </div>
</section>